.slick-wrapper {
	padding-right: 2.5rem;
	padding-left: 2.5rem;
	padding-bottom: 1rem;
	margin-bottom: 1.5rem;
}

.slick-slider {
	padding-left: 0.5rem;
	padding-right: 0.5rem;

	.image {
		padding-left: 0.5rem;
		padding-right: 0.5rem;
		outline: 0;
	}
}

.slick-track {
	display: flex;
	align-items: center;
}

.slick-dots {
	li button:before {
		color: $grey;
		font-size: 1rem;
	}

	li.slick-active button::before {
		color: $grey;
	}
}

.slick-arrow {
	width: 2.5rem;
	height: 2.5rem;

	&:before {
		font-size: 2.5rem;
		color: $grey;
		opacity: 0.25;
		transition: all 0.3s;

		&:hover,
		&:focus {
			color: $orange;
			opacity: 1;
		}
	}

	&.slick-prev {
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}

	&.slick-next {
		-webkit-transform: translate(50%, -50%);
		-ms-transform: translate(50%, -50%);
		transform: translate(50%, -50%);
	}
}

.tox.tox-tinymce {
	margin-bottom: 1em;
	border: 1px solid #d1d2d2;
	border-radius: $border-radius;
}

.tox .tox-menu.tox-collection {
	max-height: 400px !important;

	@media (max-height: 560px) {
		max-height: calc(100vh - 160px) !important;
	}
}

#tinymce {
	font-size: 18px;

	&.framed {
		padding: 3rem 2.5rem !important;
	}
}

.wysiwyg-result {
	.mce-accordion {
		padding: 0;
		margin: 2rem 0;
		background-color: $light-grey;
		border-radius: $border-radius;

		&[open] {
			padding: 0 1rem 1rem;

			summary {
				margin: 0 -1rem 1rem;
			}
		}

		summary {
			margin: 0;
			padding: 0.5rem 1rem;
			background-color: $light-grey-2;
			border-radius: $border-radius;
		}

		summary + p,
		summary + div {
			margin-top: 1rem;
		}

		p:last-child {
			margin-bottom: 0;
		}
	}
}

.adsbygoogle {
	display: block;
	max-width: 100%;
	min-width: 250px;
	margin: 0 auto;
	text-align: center;

	&.right {
		margin-left: auto;
		margin-right: 0;
		text-align: right;
	}

	&.left {
		margin-left: 0;
		margin-right: auto;
		text-align: left;
	}
}

// .ad-wrapper>div {
// 	width: auto !important;
// 	height: auto !important;
// 	min-width: 1px !important;
// }

// .ads-row {
// 	margin-bottom: 1.5rem;
// }


.vm-skin {
	z-index: 1001 !important;
}

@media (min-width: $header-breakpoint) {

	.vm-skin.vm-skin-left,
	.vm-skin.vm-skin-right {
		top: $header-height !important;
		margin-top: 0 !important;
	}
}

// Dev
.sf-toolbar {
	background-color: black;
}