.pokemon-ability-patch{
    background-position: -0px -0px;
}

.pokemon-ability-shield{
    background-position: -32px -0px;
}

.pokemon-abomasite{
    background-position: -64px -0px;
}

.pokemon-absolite{
    background-position: -96px -0px;
}

.pokemon-absorb-bulb{
    background-position: -128px -0px;
}

.pokemon-adamant-globe{
    background-position: -160px -0px;
}

.pokemon-adamant-orb{
    background-position: -192px -0px;
}

.pokemon-adrenaline-orb{
    background-position: -224px -0px;
}

.pokemon-aerodactylite{
    background-position: -256px -0px;
}

.pokemon-aggronite{
    background-position: -288px -0px;
}

.pokemon-aguav-berry{
    background-position: -320px -0px;
}

.pokemon-air-balloon{
    background-position: -352px -0px;
}

.pokemon-alakazite{
    background-position: -384px -0px;
}

.pokemon-aloraichium-z{
    background-position: -416px -0px;
}

.pokemon-altarianite{
    background-position: -448px -0px;
}

.pokemon-ampharosite{
    background-position: -480px -0px;
}

.pokemon-amulet-coin{
    background-position: -512px -0px;
}

.pokemon-apicot-berry{
    background-position: -544px -0px;
}

.pokemon-armor-fossil{
    background-position: -576px -0px;
}

.pokemon-armorite-ore{
    background-position: -608px -0px;
}

.pokemon-aspear-berry{
    background-position: -640px -0px;
}

.pokemon-assault-vest{
    background-position: -672px -0px;
}

.pokemon-audinite{
    background-position: -704px -0px;
}

.pokemon-auspicious-armor{
    background-position: -0px -32px;
}

.pokemon-babiri-berry{
    background-position: -32px -32px;
}

.pokemon-balm-mushroom{
    background-position: -64px -32px;
}

.pokemon-banettite{
    background-position: -96px -32px;
}

.pokemon-beast-ball{
    background-position: -128px -32px;
}

.pokemon-beedrillite{
    background-position: -160px -32px;
}

.pokemon-belue-berry{
    background-position: -192px -32px;
}

.pokemon-berry-juice{
    background-position: -224px -32px;
}

.pokemon-berry-sweet{
    background-position: -256px -32px;
}

.pokemon-berry{
    background-position: -288px -32px;
}

.pokemon-berserk-gene{
    background-position: -320px -32px;
}

.pokemon-big-mushroom{
    background-position: -352px -32px;
}

.pokemon-big-nugget{
    background-position: -384px -32px;
}

.pokemon-big-pearl{
    background-position: -416px -32px;
}

.pokemon-big-root{
    background-position: -448px -32px;
}

.pokemon-binding-band{
    background-position: -480px -32px;
}

.pokemon-bitter-berry{
    background-position: -512px -32px;
}

.pokemon-black-belt{
    background-position: -544px -32px;
}

.pokemon-black-glasses{
    background-position: -576px -32px;
}

.pokemon-black-sludge{
    background-position: -608px -32px;
}

.pokemon-blackaugurite{
    background-position: -640px -32px;
}

.pokemon-blastoisinite{
    background-position: -672px -32px;
}

.pokemon-blazikenite{
    background-position: -704px -32px;
}

.pokemon-blue-orb{
    background-position: -0px -64px;
}

.pokemon-bluk-berry{
    background-position: -32px -64px;
}

.pokemon-blunder-policy{
    background-position: -64px -64px;
}

.pokemon-booster-energy{
    background-position: -96px -64px;
}

.pokemon-bottle-cap{
    background-position: -128px -64px;
}

.pokemon-bright-powder{
    background-position: -160px -64px;
}

.pokemon-bug-gem{
    background-position: -192px -64px;
}

.pokemon-bug-memory{
    background-position: -224px -64px;
}

.pokemon-buginium-z{
    background-position: -256px -64px;
}

.pokemon-burn-drive{
    background-position: -288px -64px;
}

.pokemon-burnt-berry{
    background-position: -320px -64px;
}

.pokemon-cameruptite{
    background-position: -352px -64px;
}

.pokemon-cell-battery{
    background-position: -384px -64px;
}

.pokemon-charcoal{
    background-position: -416px -64px;
}

.pokemon-charizardite-x{
    background-position: -448px -64px;
}

.pokemon-charizardite-y{
    background-position: -480px -64px;
}

.pokemon-charti-berry{
    background-position: -512px -64px;
}

.pokemon-cheri-berry{
    background-position: -544px -64px;
}

.pokemon-cherish-ball{
    background-position: -576px -64px;
}

.pokemon-chesto-berry{
    background-position: -608px -64px;
}

.pokemon-chilan-berry{
    background-position: -640px -64px;
}

.pokemon-chill-drive{
    background-position: -672px -64px;
}

.pokemon-chipped-pot{
    background-position: -704px -64px;
}

.pokemon-choice-band{
    background-position: -0px -96px;
}

.pokemon-choice-scarf{
    background-position: -32px -96px;
}

.pokemon-choice-specs{
    background-position: -64px -96px;
}

.pokemon-chople-berry{
    background-position: -96px -96px;
}

.pokemon-claw-fossil{
    background-position: -128px -96px;
}

.pokemon-cleanse-tag{
    background-position: -160px -96px;
}

.pokemon-clear-amulet{
    background-position: -192px -96px;
}

.pokemon-clover-sweet{
    background-position: -224px -96px;
}

.pokemon-coba-berry{
    background-position: -256px -96px;
}

.pokemon-colbur-berry{
    background-position: -288px -96px;
}

.pokemon-comet-shard{
    background-position: -320px -96px;
}

.pokemon-cornerstone-mask{
    background-position: -352px -96px;
}

.pokemon-cornn-berry{
    background-position: -384px -96px;
}

.pokemon-cover-fossil{
    background-position: -416px -96px;
}

.pokemon-covert-cloak{
    background-position: -448px -96px;
}

.pokemon-cracked-pot{
    background-position: -480px -96px;
}

.pokemon-custap-berry{
    background-position: -512px -96px;
}

.pokemon-damp-rock{
    background-position: -544px -96px;
}

.pokemon-dark-gem{
    background-position: -576px -96px;
}

.pokemon-dark-memory{
    background-position: -608px -96px;
}

.pokemon-darkinium-z{
    background-position: -640px -96px;
}

.pokemon-dawn-stone{
    background-position: -672px -96px;
}

.pokemon-decidium-z{
    background-position: -704px -96px;
}

.pokemon-deep-sea-scale{
    background-position: -0px -128px;
}

.pokemon-deep-sea-tooth{
    background-position: -32px -128px;
}

.pokemon-destiny-knot{
    background-position: -64px -128px;
}

.pokemon-diancite{
    background-position: -96px -128px;
}

.pokemon-discount-coupon{
    background-position: -128px -128px;
}

.pokemon-dive-ball{
    background-position: -160px -128px;
}

.pokemon-dome-fossil{
    background-position: -192px -128px;
}

.pokemon-douse-drive{
    background-position: -224px -128px;
}

.pokemon-draco-plate{
    background-position: -256px -128px;
}

.pokemon-dragon-fang{
    background-position: -288px -128px;
}

.pokemon-dragon-gem{
    background-position: -320px -128px;
}

.pokemon-dragon-memory{
    background-position: -352px -128px;
}

.pokemon-dragon-scale{
    background-position: -384px -128px;
}

.pokemon-dragonium-z{
    background-position: -416px -128px;
}

.pokemon-dread-plate{
    background-position: -448px -128px;
}

.pokemon-dream-ball{
    background-position: -480px -128px;
}

.pokemon-dubious-disc{
    background-position: -512px -128px;
}

.pokemon-durin-berry{
    background-position: -544px -128px;
}

.pokemon-dusk-ball{
    background-position: -576px -128px;
}

.pokemon-dusk-stone{
    background-position: -608px -128px;
}

.pokemon-dynamax-candy{
    background-position: -640px -128px;
}

.pokemon-dynamax-crystal{
    background-position: -672px -128px;
}

.pokemon-dynite-ore{
    background-position: -704px -128px;
}

.pokemon-earth-plate{
    background-position: -0px -160px;
}

.pokemon-eevium-z{
    background-position: -32px -160px;
}

.pokemon-eject-button{
    background-position: -64px -160px;
}

.pokemon-eject-pack{
    background-position: -96px -160px;
}

.pokemon-electirizer{
    background-position: -128px -160px;
}

.pokemon-electric-gem{
    background-position: -160px -160px;
}

.pokemon-electric-memory{
    background-position: -192px -160px;
}

.pokemon-electric-seed{
    background-position: -224px -160px;
}

.pokemon-electrium-z{
    background-position: -256px -160px;
}

.pokemon-energy-powder{
    background-position: -288px -160px;
}

.pokemon-enigma-berry{
    background-position: -320px -160px;
}

.pokemon-escape-rope{
    background-position: -352px -160px;
}

.pokemon-everstone{
    background-position: -384px -160px;
}

.pokemon-eviolite{
    background-position: -416px -160px;
}

.pokemon-expert-belt{
    background-position: -448px -160px;
}

.pokemon-fairium-z{
    background-position: -480px -160px;
}

.pokemon-fairy-gem{
    background-position: -512px -160px;
}

.pokemon-fairy-memory{
    background-position: -544px -160px;
}

.pokemon-fast-ball{
    background-position: -576px -160px;
}

.pokemon-fighting-gem{
    background-position: -608px -160px;
}

.pokemon-fighting-memory{
    background-position: -640px -160px;
}

.pokemon-fightinium-z{
    background-position: -672px -160px;
}

.pokemon-figy-berry{
    background-position: -704px -160px;
}

.pokemon-fire-gem{
    background-position: -0px -192px;
}

.pokemon-fire-memory{
    background-position: -32px -192px;
}

.pokemon-fire-stone{
    background-position: -64px -192px;
}

.pokemon-firium-z{
    background-position: -96px -192px;
}

.pokemon-fist-plate{
    background-position: -128px -192px;
}

.pokemon-flame-orb{
    background-position: -160px -192px;
}

.pokemon-flame-plate{
    background-position: -192px -192px;
}

.pokemon-float-stone{
    background-position: -224px -192px;
}

.pokemon-flower-sweet{
    background-position: -256px -192px;
}

.pokemon-fluffy-tail{
    background-position: -288px -192px;
}

.pokemon-flying-gem{
    background-position: -320px -192px;
}

.pokemon-flying-memory{
    background-position: -352px -192px;
}

.pokemon-flyinium-z{
    background-position: -384px -192px;
}

.pokemon-focus-band{
    background-position: -416px -192px;
}

.pokemon-focus-sash{
    background-position: -448px -192px;
}

.pokemon-fossilized-bird{
    background-position: -480px -192px;
}

.pokemon-fossilized-dino{
    background-position: -512px -192px;
}

.pokemon-fossilized-drake{
    background-position: -544px -192px;
}

.pokemon-fossilized-fish{
    background-position: -576px -192px;
}

.pokemon-friend-ball{
    background-position: -608px -192px;
}

.pokemon-full-incense{
    background-position: -640px -192px;
}

.pokemon-galarica-cuff{
    background-position: -672px -192px;
}

.pokemon-galarica-twig{
    background-position: -704px -192px;
}

.pokemon-galarica-wreath{
    background-position: -0px -224px;
}

.pokemon-galladite{
    background-position: -32px -224px;
}

.pokemon-ganlon-berry{
    background-position: -64px -224px;
}

.pokemon-garchompite{
    background-position: -96px -224px;
}

.pokemon-gardevoirite{
    background-position: -128px -224px;
}

.pokemon-gengarite{
    background-position: -160px -224px;
}

.pokemon-ghost-gem{
    background-position: -192px -224px;
}

.pokemon-ghost-memory{
    background-position: -224px -224px;
}

.pokemon-ghostium-z{
    background-position: -256px -224px;
}

.pokemon-glalitite{
    background-position: -288px -224px;
}

.pokemon-gold-berry{
    background-position: -320px -224px;
}

.pokemon-gold-bottle-cap{
    background-position: -352px -224px;
}

.pokemon-golden-nanab-berry{
    background-position: -384px -224px;
}

.pokemon-golden-pinap-berry{
    background-position: -416px -224px;
}

.pokemon-golden-razz-berry{
    background-position: -448px -224px;
}

.pokemon-grass-gem{
    background-position: -480px -224px;
}

.pokemon-grass-memory{
    background-position: -512px -224px;
}

.pokemon-grassium-z{
    background-position: -544px -224px;
}

.pokemon-grassy-seed{
    background-position: -576px -224px;
}

.pokemon-great-ball{
    background-position: -608px -224px;
}

.pokemon-grepa-berry{
    background-position: -640px -224px;
}

.pokemon-grip-claw{
    background-position: -672px -224px;
}

.pokemon-griseous-globe{
    background-position: -704px -224px;
}

.pokemon-griseous-orb{
    background-position: -0px -256px;
}

.pokemon-ground-gem{
    background-position: -32px -256px;
}

.pokemon-ground-memory{
    background-position: -64px -256px;
}

.pokemon-groundium-z{
    background-position: -96px -256px;
}

.pokemon-gyaradosite{
    background-position: -128px -256px;
}

.pokemon-haban-berry{
    background-position: -160px -256px;
}

.pokemon-hard-stone{
    background-position: -192px -256px;
}

.pokemon-heal-ball{
    background-position: -224px -256px;
}

.pokemon-heart-scale{
    background-position: -256px -256px;
}

.pokemon-hearthflame-mask{
    background-position: -288px -256px;
}

.pokemon-heat-rock{
    background-position: -320px -256px;
}

.pokemon-heavy-ball{
    background-position: -352px -256px;
}

.pokemon-heavy-duty-boots{
    background-position: -384px -256px;
}

.pokemon-helix-fossil{
    background-position: -416px -256px;
}

.pokemon-heracronite{
    background-position: -448px -256px;
}

.pokemon-hondew-berry{
    background-position: -480px -256px;
}

.pokemon-honey{
    background-position: -512px -256px;
}

.pokemon-houndoominite{
    background-position: -544px -256px;
}

.pokemon-iapapa-berry{
    background-position: -576px -256px;
}

.pokemon-ice-berry{
    background-position: -608px -256px;
}

.pokemon-ice-gem{
    background-position: -640px -256px;
}

.pokemon-ice-memory{
    background-position: -672px -256px;
}

.pokemon-ice-stone{
    background-position: -704px -256px;
}

.pokemon-icicle-plate{
    background-position: -0px -288px;
}

.pokemon-icium-z{
    background-position: -32px -288px;
}

.pokemon-icy-rock{
    background-position: -64px -288px;
}

.pokemon-incinium-z{
    background-position: -96px -288px;
}

.pokemon-insect-plate{
    background-position: -128px -288px;
}

.pokemon-iron-ball{
    background-position: -160px -288px;
}

.pokemon-iron-plate{
    background-position: -192px -288px;
}

.pokemon-jaboca-berry{
    background-position: -224px -288px;
}

.pokemon-jaw-fossil{
    background-position: -256px -288px;
}

.pokemon-kangaskhanite{
    background-position: -288px -288px;
}

.pokemon-kasib-berry{
    background-position: -320px -288px;
}

.pokemon-kebia-berry{
    background-position: -352px -288px;
}

.pokemon-kee-berry{
    background-position: -384px -288px;
}

.pokemon-kelpsy-berry{
    background-position: -416px -288px;
}

.pokemon-kings-rock{
    background-position: -448px -288px;
}

.pokemon-kommonium-z{
    background-position: -480px -288px;
}

.pokemon-lagging-tail{
    background-position: -512px -288px;
}

.pokemon-lansat-berry{
    background-position: -544px -288px;
}

.pokemon-latiasite{
    background-position: -576px -288px;
}

.pokemon-latiosite{
    background-position: -608px -288px;
}

.pokemon-lax-incense{
    background-position: -640px -288px;
}

.pokemon-leader-s-crest{
    background-position: -672px -288px;
}

.pokemon-leaf-stone{
    background-position: -704px -288px;
}

.pokemon-leek{
    background-position: -0px -320px;
}

.pokemon-leftovers{
    background-position: -32px -320px;
}

.pokemon-leppa-berry{
    background-position: -64px -320px;
}

.pokemon-level-ball{
    background-position: -96px -320px;
}

.pokemon-liechi-berry{
    background-position: -128px -320px;
}

.pokemon-life-orb{
    background-position: -160px -320px;
}

.pokemon-light-ball{
    background-position: -192px -320px;
}

.pokemon-light-clay{
    background-position: -224px -320px;
}

.pokemon-linking-cord{
    background-position: -256px -320px;
}

.pokemon-loaded-dice{
    background-position: -288px -320px;
}

.pokemon-lopunnite{
    background-position: -320px -320px;
}

.pokemon-love-ball{
    background-position: -352px -320px;
}

.pokemon-love-sweet{
    background-position: -384px -320px;
}

.pokemon-lucarionite{
    background-position: -416px -320px;
}

.pokemon-luck-incense{
    background-position: -448px -320px;
}

.pokemon-lucky-egg{
    background-position: -480px -320px;
}

.pokemon-lucky-punch{
    background-position: -512px -320px;
}

.pokemon-lum-berry{
    background-position: -544px -320px;
}

.pokemon-luminous-moss{
    background-position: -576px -320px;
}

.pokemon-lunalium-z{
    background-position: -608px -320px;
}

.pokemon-lure-ball{
    background-position: -640px -320px;
}

.pokemon-lure{
    background-position: -672px -320px;
}

.pokemon-lustrous-globe{
    background-position: -704px -320px;
}

.pokemon-lustrous-orb{
    background-position: -0px -352px;
}

.pokemon-luxury-ball{
    background-position: -32px -352px;
}

.pokemon-lycanium-z{
    background-position: -64px -352px;
}

.pokemon-macho-brace{
    background-position: -96px -352px;
}

.pokemon-magmarizer{
    background-position: -128px -352px;
}

.pokemon-magnet{
    background-position: -160px -352px;
}

.pokemon-mago-berry{
    background-position: -192px -352px;
}

.pokemon-magost-berry{
    background-position: -224px -352px;
}

.pokemon-mail{
    background-position: -256px -352px;
}

.pokemon-malicious-armor{
    background-position: -288px -352px;
}

.pokemon-manectite{
    background-position: -320px -352px;
}

.pokemon-maranga-berry{
    background-position: -352px -352px;
}

.pokemon-marshadium-z{
    background-position: -384px -352px;
}

.pokemon-master-ball{
    background-position: -416px -352px;
}

.pokemon-masterpiece-teacup{
    background-position: -448px -352px;
}

.pokemon-mawilite{
    background-position: -480px -352px;
}

.pokemon-max-lure{
    background-position: -512px -352px;
}

.pokemon-max-repel{
    background-position: -544px -352px;
}

.pokemon-meadow-plate{
    background-position: -576px -352px;
}

.pokemon-medichamite{
    background-position: -608px -352px;
}

.pokemon-mental-herb{
    background-position: -640px -352px;
}

.pokemon-metagrossite{
    background-position: -672px -352px;
}

.pokemon-metal-alloy{
    background-position: -704px -352px;
}

.pokemon-metal-coat{
    background-position: -0px -384px;
}

.pokemon-metal-powder{
    background-position: -32px -384px;
}

.pokemon-metronome{
    background-position: -64px -384px;
}

.pokemon-mewnium-z{
    background-position: -96px -384px;
}

.pokemon-mewtwonite-x{
    background-position: -128px -384px;
}

.pokemon-mewtwonite-y{
    background-position: -160px -384px;
}

.pokemon-micle-berry{
    background-position: -192px -384px;
}

.pokemon-mimikium-z{
    background-position: -224px -384px;
}

.pokemon-mind-plate{
    background-position: -256px -384px;
}

.pokemon-mint-berry{
    background-position: -288px -384px;
}

.pokemon-miracle-berry{
    background-position: -320px -384px;
}

.pokemon-miracle-seed{
    background-position: -352px -384px;
}

.pokemon-mirror-herb{
    background-position: -384px -384px;
}

.pokemon-misty-seed{
    background-position: -416px -384px;
}

.pokemon-moon-ball{
    background-position: -448px -384px;
}

.pokemon-moon-stone{
    background-position: -480px -384px;
}

.pokemon-muscle-band{
    background-position: -512px -384px;
}

.pokemon-mystery-berry{
    background-position: -544px -384px;
}

.pokemon-mystic-water{
    background-position: -576px -384px;
}

.pokemon-nanab-berry{
    background-position: -608px -384px;
}

.pokemon-nanab-gen3-berry{
    background-position: -640px -384px;
}

.pokemon-nest-ball{
    background-position: -672px -384px;
}

.pokemon-net-ball{
    background-position: -704px -384px;
}

.pokemon-never-melt-ice{
    background-position: -0px -416px;
}

.pokemon-nomel-berry{
    background-position: -32px -416px;
}

.pokemon-normal-gem{
    background-position: -64px -416px;
}

.pokemon-normalium-z{
    background-position: -96px -416px;
}

.pokemon-nugget{
    background-position: -128px -416px;
}

.pokemon-occa-berry{
    background-position: -160px -416px;
}

.pokemon-odd-incense{
    background-position: -192px -416px;
}

.pokemon-odd-keystone{
    background-position: -224px -416px;
}

.pokemon-old-amber-fossil{
    background-position: -256px -416px;
}

.pokemon-old-amber{
    background-position: -288px -416px;
}

.pokemon-oran-berry{
    background-position: -320px -416px;
}

.pokemon-oval-stone{
    background-position: -352px -416px;
}

.pokemon-pamtre-berry{
    background-position: -384px -416px;
}

.pokemon-park-ball{
    background-position: -416px -416px;
}

.pokemon-pass-orb{
    background-position: -448px -416px;
}

.pokemon-passho-berry{
    background-position: -480px -416px;
}

.pokemon-payapa-berry{
    background-position: -512px -416px;
}

.pokemon-pearl-string{
    background-position: -544px -416px;
}

.pokemon-pearl{
    background-position: -576px -416px;
}

.pokemon-peatblock{
    background-position: -608px -416px;
}

.pokemon-pecha-berry{
    background-position: -640px -416px;
}

.pokemon-persim-berry{
    background-position: -672px -416px;
}

.pokemon-petaya-berry{
    background-position: -704px -416px;
}

.pokemon-pidgeotite{
    background-position: -0px -448px;
}

.pokemon-pikanium-z{
    background-position: -32px -448px;
}

.pokemon-pikashunium-z{
    background-position: -64px -448px;
}

.pokemon-pinap-berry{
    background-position: -96px -448px;
}

.pokemon-pink-nectar{
    background-position: -128px -448px;
}

.pokemon-pinsirite{
    background-position: -160px -448px;
}

.pokemon-pixie-plate{
    background-position: -192px -448px;
}

.pokemon-plume-fossil{
    background-position: -224px -448px;
}

.pokemon-poison-barb{
    background-position: -256px -448px;
}

.pokemon-poison-gem{
    background-position: -288px -448px;
}

.pokemon-poison-memory{
    background-position: -320px -448px;
}

.pokemon-poisonium-z{
    background-position: -352px -448px;
}

.pokemon-poke-ball{
    background-position: -384px -448px;
}

.pokemon-poke-doll{
    background-position: -416px -448px;
}

.pokemon-poke-toy{
    background-position: -448px -448px;
}

.pokemon-pomeg-berry{
    background-position: -480px -448px;
}

.pokemon-power-anklet{
    background-position: -512px -448px;
}

.pokemon-power-band{
    background-position: -544px -448px;
}

.pokemon-power-belt{
    background-position: -576px -448px;
}

.pokemon-power-bracer{
    background-position: -608px -448px;
}

.pokemon-power-herb{
    background-position: -640px -448px;
}

.pokemon-power-lens{
    background-position: -672px -448px;
}

.pokemon-power-weight{
    background-position: -704px -448px;
}

.pokemon-premier-ball{
    background-position: -0px -480px;
}

.pokemon-pretty-wing{
    background-position: -32px -480px;
}

.pokemon-primarium-z{
    background-position: -64px -480px;
}

.pokemon-prism-scale{
    background-position: -96px -480px;
}

.pokemon-protective-pads{
    background-position: -128px -480px;
}

.pokemon-protector{
    background-position: -160px -480px;
}

.pokemon-prz-cure-berry{
    background-position: -192px -480px;
}

.pokemon-psn-cure-berry{
    background-position: -224px -480px;
}

.pokemon-psychic-gem{
    background-position: -256px -480px;
}

.pokemon-psychic-memory{
    background-position: -288px -480px;
}

.pokemon-psychic-seed{
    background-position: -320px -480px;
}

.pokemon-psychium-z{
    background-position: -352px -480px;
}

.pokemon-punching-glove{
    background-position: -384px -480px;
}

.pokemon-pure-incense{
    background-position: -416px -480px;
}

.pokemon-purple-nectar{
    background-position: -448px -480px;
}

.pokemon-qualot-berry{
    background-position: -480px -480px;
}

.pokemon-quick-ball{
    background-position: -512px -480px;
}

.pokemon-quick-claw{
    background-position: -544px -480px;
}

.pokemon-quick-powder{
    background-position: -576px -480px;
}

.pokemon-rabuta-berry{
    background-position: -608px -480px;
}

.pokemon-rare-bone{
    background-position: -640px -480px;
}

.pokemon-rawst-berry{
    background-position: -672px -480px;
}

.pokemon-razor-claw{
    background-position: -704px -480px;
}

.pokemon-razor-fang{
    background-position: -0px -512px;
}

.pokemon-razz-berry{
    background-position: -32px -512px;
}

.pokemon-razz-gen3-berry{
    background-position: -64px -512px;
}

.pokemon-reaper-cloth{
    background-position: -96px -512px;
}

.pokemon-red-card{
    background-position: -128px -512px;
}

.pokemon-red-nectar{
    background-position: -160px -512px;
}

.pokemon-red-orb{
    background-position: -192px -512px;
}

.pokemon-relic-band{
    background-position: -224px -512px;
}

.pokemon-relic-copper{
    background-position: -256px -512px;
}

.pokemon-relic-crown{
    background-position: -288px -512px;
}

.pokemon-relic-gold{
    background-position: -320px -512px;
}

.pokemon-relic-silver{
    background-position: -352px -512px;
}

.pokemon-relic-statue{
    background-position: -384px -512px;
}

.pokemon-relic-vase{
    background-position: -416px -512px;
}

.pokemon-repeat-ball{
    background-position: -448px -512px;
}

.pokemon-repel{
    background-position: -480px -512px;
}

.pokemon-ribbon-sweet{
    background-position: -512px -512px;
}

.pokemon-rindo-berry{
    background-position: -544px -512px;
}

.pokemon-ring-target{
    background-position: -576px -512px;
}

.pokemon-rock-gem{
    background-position: -608px -512px;
}

.pokemon-rock-incense{
    background-position: -640px -512px;
}

.pokemon-rock-memory{
    background-position: -672px -512px;
}

.pokemon-rockium-z{
    background-position: -704px -512px;
}

.pokemon-rocky-helmet{
    background-position: -0px -544px;
}

.pokemon-room-service{
    background-position: -32px -544px;
}

.pokemon-root-fossil{
    background-position: -64px -544px;
}

.pokemon-rose-incense{
    background-position: -96px -544px;
}

.pokemon-roseli-berry{
    background-position: -128px -544px;
}

.pokemon-rowap-berry{
    background-position: -160px -544px;
}

.pokemon-rusted-shield{
    background-position: -192px -544px;
}

.pokemon-rusted-sword{
    background-position: -224px -544px;
}

.pokemon-sablenite{
    background-position: -256px -544px;
}

.pokemon-sachet{
    background-position: -288px -544px;
}

.pokemon-safari-ball{
    background-position: -320px -544px;
}

.pokemon-safety-goggles{
    background-position: -352px -544px;
}

.pokemon-sail-fossil{
    background-position: -384px -544px;
}

.pokemon-salac-berry{
    background-position: -416px -544px;
}

.pokemon-salamencite{
    background-position: -448px -544px;
}

.pokemon-sceptilite{
    background-position: -480px -544px;
}

.pokemon-scizorite{
    background-position: -512px -544px;
}

.pokemon-scope-lens{
    background-position: -544px -544px;
}

.pokemon-scroll-of-darkness{
    background-position: -576px -544px;
}

.pokemon-scroll-of-waters{
    background-position: -608px -544px;
}

.pokemon-sea-incense{
    background-position: -640px -544px;
}

.pokemon-sharp-beak{
    background-position: -672px -544px;
}

.pokemon-sharpedonite{
    background-position: -704px -544px;
}

.pokemon-shed-shell{
    background-position: -0px -576px;
}

.pokemon-shell-bell{
    background-position: -32px -576px;
}

.pokemon-shiny-stone{
    background-position: -64px -576px;
}

.pokemon-shoal-salt{
    background-position: -96px -576px;
}

.pokemon-shoal-shell{
    background-position: -128px -576px;
}

.pokemon-shock-drive{
    background-position: -160px -576px;
}

.pokemon-shuca-berry{
    background-position: -192px -576px;
}

.pokemon-silk-scarf{
    background-position: -224px -576px;
}

.pokemon-silver-nanab-berry{
    background-position: -256px -576px;
}

.pokemon-silver-pinap-berry{
    background-position: -288px -576px;
}

.pokemon-silver-powder{
    background-position: -320px -576px;
}

.pokemon-silver-razz-berry{
    background-position: -352px -576px;
}

.pokemon-sitrus-berry{
    background-position: -384px -576px;
}

.pokemon-skull-fossil{
    background-position: -416px -576px;
}

.pokemon-sky-plate{
    background-position: -448px -576px;
}

.pokemon-slowbronite{
    background-position: -480px -576px;
}

.pokemon-slowpoke-tail{
    background-position: -512px -576px;
}

.pokemon-smoke-ball{
    background-position: -544px -576px;
}

.pokemon-smooth-rock{
    background-position: -576px -576px;
}

.pokemon-snorlium-z{
    background-position: -608px -576px;
}

.pokemon-snowball{
    background-position: -640px -576px;
}

.pokemon-soft-sand{
    background-position: -672px -576px;
}

.pokemon-solganium-z{
    background-position: -704px -576px;
}

.pokemon-soothe-bell{
    background-position: -0px -608px;
}

.pokemon-soul-dew{
    background-position: -32px -608px;
}

.pokemon-spell-tag{
    background-position: -64px -608px;
}

.pokemon-spelon-berry{
    background-position: -96px -608px;
}

.pokemon-splash-plate{
    background-position: -128px -608px;
}

.pokemon-spooky-plate{
    background-position: -160px -608px;
}

.pokemon-sport-ball{
    background-position: -192px -608px;
}

.pokemon-star-piece{
    background-position: -224px -608px;
}

.pokemon-star-sweet{
    background-position: -256px -608px;
}

.pokemon-stardust{
    background-position: -288px -608px;
}

.pokemon-starf-berry{
    background-position: -320px -608px;
}

.pokemon-steel-gem{
    background-position: -352px -608px;
}

.pokemon-steel-memory{
    background-position: -384px -608px;
}

.pokemon-steelium-z{
    background-position: -416px -608px;
}

.pokemon-steelixite{
    background-position: -448px -608px;
}

.pokemon-stick{
    background-position: -480px -608px;
}

.pokemon-sticky-barb{
    background-position: -512px -608px;
}

.pokemon-stone-plate{
    background-position: -544px -608px;
}

.pokemon-strange-ball{
    background-position: -576px -608px;
}

.pokemon-strange-souvenir{
    background-position: -608px -608px;
}

.pokemon-strawberry-sweet{
    background-position: -640px -608px;
}

.pokemon-sun-stone{
    background-position: -672px -608px;
}

.pokemon-super-lure{
    background-position: -704px -608px;
}

.pokemon-super-repel{
    background-position: -0px -640px;
}

.pokemon-swampertite{
    background-position: -32px -640px;
}

.pokemon-sweet-apple{
    background-position: -64px -640px;
}

.pokemon-syrupy-apple{
    background-position: -96px -640px;
}

.pokemon-tamato-berry{
    background-position: -128px -640px;
}

.pokemon-tanga-berry{
    background-position: -160px -640px;
}

.pokemon-tapunium-z{
    background-position: -192px -640px;
}

.pokemon-tart-apple{
    background-position: -224px -640px;
}

.pokemon-tera-orb{
    background-position: -256px -640px;
}

.pokemon-terrain-extender{
    background-position: -288px -640px;
}

.pokemon-thick-club{
    background-position: -320px -640px;
}

.pokemon-throat-spray{
    background-position: -352px -640px;
}

.pokemon-thunder-stone{
    background-position: -384px -640px;
}

.pokemon-timer-ball{
    background-position: -416px -640px;
}

.pokemon-tiny-mushroom{
    background-position: -448px -640px;
}

.pokemon-toxic-orb{
    background-position: -480px -640px;
}

.pokemon-toxic-plate{
    background-position: -512px -640px;
}

.pokemon-twisted-spoon{
    background-position: -544px -640px;
}

.pokemon-tyranitarite{
    background-position: -576px -640px;
}

.pokemon-ultra-ball{
    background-position: -608px -640px;
}

.pokemon-ultranecrozium-z{
    background-position: -640px -640px;
}

.pokemon-unknown{
    background-position: -672px -640px;
}

.pokemon-unremarkable-teacup{
    background-position: -704px -640px;
}

.pokemon-up-grade{
    background-position: -0px -672px;
}

.pokemon-utility-umbrella{
    background-position: -32px -672px;
}

.pokemon-venusaurite{
    background-position: -64px -672px;
}

.pokemon-wacan-berry{
    background-position: -96px -672px;
}

.pokemon-water-gem{
    background-position: -128px -672px;
}

.pokemon-water-memory{
    background-position: -160px -672px;
}

.pokemon-water-stone{
    background-position: -192px -672px;
}

.pokemon-waterium-z{
    background-position: -224px -672px;
}

.pokemon-watmel-berry{
    background-position: -256px -672px;
}

.pokemon-wave-incense{
    background-position: -288px -672px;
}

.pokemon-weakness-policy{
    background-position: -320px -672px;
}

.pokemon-wellspring-mask{
    background-position: -352px -672px;
}

.pokemon-wepear-berry{
    background-position: -384px -672px;
}

.pokemon-whipped-dream{
    background-position: -416px -672px;
}

.pokemon-white-herb{
    background-position: -448px -672px;
}

.pokemon-wide-lens{
    background-position: -480px -672px;
}

.pokemon-wiki-berry{
    background-position: -512px -672px;
}

.pokemon-wise-glasses{
    background-position: -544px -672px;
}

.pokemon-wishing-piece{
    background-position: -576px -672px;
}

.pokemon-yache-berry{
    background-position: -608px -672px;
}

.pokemon-yellow-nectar{
    background-position: -640px -672px;
}

.pokemon-zap-plate{
    background-position: -672px -672px;
}

.pokemon-zoom-lens{
    background-position: -704px -672px;
}

