.slick-wrapper {
	padding-right: 2.5rem;
	padding-left: 2.5rem;
	padding-bottom: 1rem;
	margin-bottom: 1.5rem;
}

.slick-slider {
	padding-left: 0.5rem;
	padding-right: 0.5rem;

	.image {
		padding-left: 0.5rem;
		padding-right: 0.5rem;
		outline: 0;
	}
}

.slick-track {
	display: flex;
	align-items: center;
}

.slick-dots {
	li button:before {
		color: $grey;
		font-size: 1rem;
	}

	li.slick-active button::before {
		color: $grey;
	}
}

.slick-arrow {
	width: 2.5rem;
	height: 2.5rem;

	&:before {
		font-size: 2.5rem;
		color: $grey;
		opacity: 0.25;
		transition: all 0.3s;

		&:hover,
		&:focus {
			color: $orange;
			opacity: 1;
		}
	}

	&.slick-prev {
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}

	&.slick-next {
		-webkit-transform: translate(50%, -50%);
		-ms-transform: translate(50%, -50%);
		transform: translate(50%, -50%);
	}
}

.tox.tox-tinymce {
	margin-bottom: 1em;
	border: 1px solid #d1d2d2;
	border-radius: $border-radius;
}

.tox .tox-menu.tox-collection {
	max-height: 400px !important;

	@media (max-height: 560px) {
		max-height: calc(100vh - 160px) !important;
	}
}

.adsbygoogle {
	display: block;
	max-width: 100%;
	min-width: 250px;
	margin: 0 auto;
	text-align: center;

	&.right {
		margin-left: auto;
		margin-right: 0;
		text-align: right;
	}

	&.left {
		margin-left: 0;
		margin-right: auto;
		text-align: left;
	}
}

.vm-skin {
	z-index: 1001 !important;
}

@media (min-width: $header-breakpoint) {

	.vm-skin.vm-skin-left,
	.vm-skin.vm-skin-right {
		top: $header-height !important;
		margin-top: 0 !important;
	}
}

// Dev
.sf-toolbar {
	background-color: black;
}