.item-ability-patch{
	background-position: -0px -0px;
}

.item-ability-shield{
	background-position: -32px -0px;
}

.item-abomasite{
	background-position: -64px -0px;
}

.item-absolite{
	background-position: -96px -0px;
}

.item-absorb-bulb{
	background-position: -128px -0px;
}

.item-adamant-globe{
	background-position: -160px -0px;
}

.item-adamant-orb{
	background-position: -192px -0px;
}

.item-adrenaline-orb{
	background-position: -224px -0px;
}

.item-aerodactylite{
	background-position: -256px -0px;
}

.item-aggronite{
	background-position: -288px -0px;
}

.item-aguav-berry{
	background-position: -320px -0px;
}

.item-air-balloon{
	background-position: -352px -0px;
}

.item-alakazite{
	background-position: -384px -0px;
}

.item-aloraichium-z{
	background-position: -416px -0px;
}

.item-altarianite{
	background-position: -448px -0px;
}

.item-ampharosite{
	background-position: -480px -0px;
}

.item-amulet-coin{
	background-position: -512px -0px;
}

.item-apicot-berry{
	background-position: -544px -0px;
}

.item-armor-fossil{
	background-position: -576px -0px;
}

.item-armorite-ore{
	background-position: -608px -0px;
}

.item-aspear-berry{
	background-position: -640px -0px;
}

.item-assault-vest{
	background-position: -672px -0px;
}

.item-audinite{
	background-position: -704px -0px;
}

.item-auspicious-armor{
	background-position: -0px -32px;
}

.item-babiri-berry{
	background-position: -32px -32px;
}

.item-balm-mushroom{
	background-position: -64px -32px;
}

.item-banettite{
	background-position: -96px -32px;
}

.item-beast-ball{
	background-position: -128px -32px;
}

.item-beedrillite{
	background-position: -160px -32px;
}

.item-belue-berry{
	background-position: -192px -32px;
}

.item-berry-juice{
	background-position: -224px -32px;
}

.item-berry-sweet{
	background-position: -256px -32px;
}

.item-berry{
	background-position: -288px -32px;
}

.item-berserk-gene{
	background-position: -320px -32px;
}

.item-big-mushroom{
	background-position: -352px -32px;
}

.item-big-nugget{
	background-position: -384px -32px;
}

.item-big-pearl{
	background-position: -416px -32px;
}

.item-big-root{
	background-position: -448px -32px;
}

.item-binding-band{
	background-position: -480px -32px;
}

.item-bitter-berry{
	background-position: -512px -32px;
}

.item-black-belt{
	background-position: -544px -32px;
}

.item-black-glasses{
	background-position: -576px -32px;
}

.item-black-sludge{
	background-position: -608px -32px;
}

.item-blackaugurite{
	background-position: -640px -32px;
}

.item-blastoisinite{
	background-position: -672px -32px;
}

.item-blazikenite{
	background-position: -704px -32px;
}

.item-blue-orb{
	background-position: -0px -64px;
}

.item-bluk-berry{
	background-position: -32px -64px;
}

.item-blunder-policy{
	background-position: -64px -64px;
}

.item-booster-energy{
	background-position: -96px -64px;
}

.item-bottle-cap{
	background-position: -128px -64px;
}

.item-bright-powder{
	background-position: -160px -64px;
}

.item-bug-gem{
	background-position: -192px -64px;
}

.item-bug-memory{
	background-position: -224px -64px;
}

.item-buginium-z{
	background-position: -256px -64px;
}

.item-burn-drive{
	background-position: -288px -64px;
}

.item-burnt-berry{
	background-position: -320px -64px;
}

.item-cameruptite{
	background-position: -352px -64px;
}

.item-cell-battery{
	background-position: -384px -64px;
}

.item-charcoal{
	background-position: -416px -64px;
}

.item-charizardite-x{
	background-position: -448px -64px;
}

.item-charizardite-y{
	background-position: -480px -64px;
}

.item-charti-berry{
	background-position: -512px -64px;
}

.item-cheri-berry{
	background-position: -544px -64px;
}

.item-cherish-ball{
	background-position: -576px -64px;
}

.item-chesto-berry{
	background-position: -608px -64px;
}

.item-chilan-berry{
	background-position: -640px -64px;
}

.item-chill-drive{
	background-position: -672px -64px;
}

.item-chipped-pot{
	background-position: -704px -64px;
}

.item-choice-band{
	background-position: -0px -96px;
}

.item-choice-scarf{
	background-position: -32px -96px;
}

.item-choice-specs{
	background-position: -64px -96px;
}

.item-chople-berry{
	background-position: -96px -96px;
}

.item-claw-fossil{
	background-position: -128px -96px;
}

.item-cleanse-tag{
	background-position: -160px -96px;
}

.item-clear-amulet{
	background-position: -192px -96px;
}

.item-clover-sweet{
	background-position: -224px -96px;
}

.item-coba-berry{
	background-position: -256px -96px;
}

.item-colbur-berry{
	background-position: -288px -96px;
}

.item-comet-shard{
	background-position: -320px -96px;
}

.item-cornerstone-mask{
	background-position: -352px -96px;
}

.item-cornn-berry{
	background-position: -384px -96px;
}

.item-cover-fossil{
	background-position: -416px -96px;
}

.item-covert-cloak{
	background-position: -448px -96px;
}

.item-cracked-pot{
	background-position: -480px -96px;
}

.item-custap-berry{
	background-position: -512px -96px;
}

.item-damp-rock{
	background-position: -544px -96px;
}

.item-dark-gem{
	background-position: -576px -96px;
}

.item-dark-memory{
	background-position: -608px -96px;
}

.item-darkinium-z{
	background-position: -640px -96px;
}

.item-dawn-stone{
	background-position: -672px -96px;
}

.item-decidium-z{
	background-position: -704px -96px;
}

.item-deep-sea-scale{
	background-position: -0px -128px;
}

.item-deep-sea-tooth{
	background-position: -32px -128px;
}

.item-destiny-knot{
	background-position: -64px -128px;
}

.item-diancite{
	background-position: -96px -128px;
}

.item-discount-coupon{
	background-position: -128px -128px;
}

.item-dive-ball{
	background-position: -160px -128px;
}

.item-dome-fossil{
	background-position: -192px -128px;
}

.item-douse-drive{
	background-position: -224px -128px;
}

.item-draco-plate{
	background-position: -256px -128px;
}

.item-dragon-fang{
	background-position: -288px -128px;
}

.item-dragon-gem{
	background-position: -320px -128px;
}

.item-dragon-memory{
	background-position: -352px -128px;
}

.item-dragon-scale{
	background-position: -384px -128px;
}

.item-dragonium-z{
	background-position: -416px -128px;
}

.item-dread-plate{
	background-position: -448px -128px;
}

.item-dream-ball{
	background-position: -480px -128px;
}

.item-dubious-disc{
	background-position: -512px -128px;
}

.item-durin-berry{
	background-position: -544px -128px;
}

.item-dusk-ball{
	background-position: -576px -128px;
}

.item-dusk-stone{
	background-position: -608px -128px;
}

.item-dynamax-candy{
	background-position: -640px -128px;
}

.item-dynamax-crystal{
	background-position: -672px -128px;
}

.item-dynite-ore{
	background-position: -704px -128px;
}

.item-earth-plate{
	background-position: -0px -160px;
}

.item-eevium-z{
	background-position: -32px -160px;
}

.item-eject-button{
	background-position: -64px -160px;
}

.item-eject-pack{
	background-position: -96px -160px;
}

.item-electirizer{
	background-position: -128px -160px;
}

.item-electric-gem{
	background-position: -160px -160px;
}

.item-electric-memory{
	background-position: -192px -160px;
}

.item-electric-seed{
	background-position: -224px -160px;
}

.item-electrium-z{
	background-position: -256px -160px;
}

.item-energy-powder{
	background-position: -288px -160px;
}

.item-enigma-berry{
	background-position: -320px -160px;
}

.item-escape-rope{
	background-position: -352px -160px;
}

.item-everstone{
	background-position: -384px -160px;
}

.item-eviolite{
	background-position: -416px -160px;
}

.item-expert-belt{
	background-position: -448px -160px;
}

.item-fairium-z{
	background-position: -480px -160px;
}

.item-fairy-gem{
	background-position: -512px -160px;
}

.item-fairy-memory{
	background-position: -544px -160px;
}

.item-fast-ball{
	background-position: -576px -160px;
}

.item-fighting-gem{
	background-position: -608px -160px;
}

.item-fighting-memory{
	background-position: -640px -160px;
}

.item-fightinium-z{
	background-position: -672px -160px;
}

.item-figy-berry{
	background-position: -704px -160px;
}

.item-fire-gem{
	background-position: -0px -192px;
}

.item-fire-memory{
	background-position: -32px -192px;
}

.item-fire-stone{
	background-position: -64px -192px;
}

.item-firium-z{
	background-position: -96px -192px;
}

.item-fist-plate{
	background-position: -128px -192px;
}

.item-flame-orb{
	background-position: -160px -192px;
}

.item-flame-plate{
	background-position: -192px -192px;
}

.item-float-stone{
	background-position: -224px -192px;
}

.item-flower-sweet{
	background-position: -256px -192px;
}

.item-fluffy-tail{
	background-position: -288px -192px;
}

.item-flying-gem{
	background-position: -320px -192px;
}

.item-flying-memory{
	background-position: -352px -192px;
}

.item-flyinium-z{
	background-position: -384px -192px;
}

.item-focus-band{
	background-position: -416px -192px;
}

.item-focus-sash{
	background-position: -448px -192px;
}

.item-fossilized-bird{
	background-position: -480px -192px;
}

.item-fossilized-dino{
	background-position: -512px -192px;
}

.item-fossilized-drake{
	background-position: -544px -192px;
}

.item-fossilized-fish{
	background-position: -576px -192px;
}

.item-friend-ball{
	background-position: -608px -192px;
}

.item-full-incense{
	background-position: -640px -192px;
}

.item-galarica-cuff{
	background-position: -672px -192px;
}

.item-galarica-twig{
	background-position: -704px -192px;
}

.item-galarica-wreath{
	background-position: -0px -224px;
}

.item-galladite{
	background-position: -32px -224px;
}

.item-ganlon-berry{
	background-position: -64px -224px;
}

.item-garchompite{
	background-position: -96px -224px;
}

.item-gardevoirite{
	background-position: -128px -224px;
}

.item-gengarite{
	background-position: -160px -224px;
}

.item-ghost-gem{
	background-position: -192px -224px;
}

.item-ghost-memory{
	background-position: -224px -224px;
}

.item-ghostium-z{
	background-position: -256px -224px;
}

.item-glalitite{
	background-position: -288px -224px;
}

.item-gold-berry{
	background-position: -320px -224px;
}

.item-gold-bottle-cap{
	background-position: -352px -224px;
}

.item-golden-nanab-berry{
	background-position: -384px -224px;
}

.item-golden-pinap-berry{
	background-position: -416px -224px;
}

.item-golden-razz-berry{
	background-position: -448px -224px;
}

.item-grass-gem{
	background-position: -480px -224px;
}

.item-grass-memory{
	background-position: -512px -224px;
}

.item-grassium-z{
	background-position: -544px -224px;
}

.item-grassy-seed{
	background-position: -576px -224px;
}

.item-great-ball{
	background-position: -608px -224px;
}

.item-grepa-berry{
	background-position: -640px -224px;
}

.item-grip-claw{
	background-position: -672px -224px;
}

.item-griseous-globe{
	background-position: -704px -224px;
}

.item-griseous-orb{
	background-position: -0px -256px;
}

.item-ground-gem{
	background-position: -32px -256px;
}

.item-ground-memory{
	background-position: -64px -256px;
}

.item-groundium-z{
	background-position: -96px -256px;
}

.item-gyaradosite{
	background-position: -128px -256px;
}

.item-haban-berry{
	background-position: -160px -256px;
}

.item-hard-stone{
	background-position: -192px -256px;
}

.item-heal-ball{
	background-position: -224px -256px;
}

.item-heart-scale{
	background-position: -256px -256px;
}

.item-hearthflame-mask{
	background-position: -288px -256px;
}

.item-heat-rock{
	background-position: -320px -256px;
}

.item-heavy-ball{
	background-position: -352px -256px;
}

.item-heavy-duty-boots{
	background-position: -384px -256px;
}

.item-helix-fossil{
	background-position: -416px -256px;
}

.item-heracronite{
	background-position: -448px -256px;
}

.item-hondew-berry{
	background-position: -480px -256px;
}

.item-honey{
	background-position: -512px -256px;
}

.item-houndoominite{
	background-position: -544px -256px;
}

.item-iapapa-berry{
	background-position: -576px -256px;
}

.item-ice-berry{
	background-position: -608px -256px;
}

.item-ice-gem{
	background-position: -640px -256px;
}

.item-ice-memory{
	background-position: -672px -256px;
}

.item-ice-stone{
	background-position: -704px -256px;
}

.item-icicle-plate{
	background-position: -0px -288px;
}

.item-icium-z{
	background-position: -32px -288px;
}

.item-icy-rock{
	background-position: -64px -288px;
}

.item-incinium-z{
	background-position: -96px -288px;
}

.item-insect-plate{
	background-position: -128px -288px;
}

.item-iron-ball{
	background-position: -160px -288px;
}

.item-iron-plate{
	background-position: -192px -288px;
}

.item-jaboca-berry{
	background-position: -224px -288px;
}

.item-jaw-fossil{
	background-position: -256px -288px;
}

.item-kangaskhanite{
	background-position: -288px -288px;
}

.item-kasib-berry{
	background-position: -320px -288px;
}

.item-kebia-berry{
	background-position: -352px -288px;
}

.item-kee-berry{
	background-position: -384px -288px;
}

.item-kelpsy-berry{
	background-position: -416px -288px;
}

.item-kings-rock{
	background-position: -448px -288px;
}

.item-kommonium-z{
	background-position: -480px -288px;
}

.item-lagging-tail{
	background-position: -512px -288px;
}

.item-lansat-berry{
	background-position: -544px -288px;
}

.item-latiasite{
	background-position: -576px -288px;
}

.item-latiosite{
	background-position: -608px -288px;
}

.item-lax-incense{
	background-position: -640px -288px;
}

.item-leader-s-crest{
	background-position: -672px -288px;
}

.item-leaf-stone{
	background-position: -704px -288px;
}

.item-leek{
	background-position: -0px -320px;
}

.item-leftovers{
	background-position: -32px -320px;
}

.item-leppa-berry{
	background-position: -64px -320px;
}

.item-level-ball{
	background-position: -96px -320px;
}

.item-liechi-berry{
	background-position: -128px -320px;
}

.item-life-orb{
	background-position: -160px -320px;
}

.item-light-ball{
	background-position: -192px -320px;
}

.item-light-clay{
	background-position: -224px -320px;
}

.item-linking-cord{
	background-position: -256px -320px;
}

.item-loaded-dice{
	background-position: -288px -320px;
}

.item-lopunnite{
	background-position: -320px -320px;
}

.item-love-ball{
	background-position: -352px -320px;
}

.item-love-sweet{
	background-position: -384px -320px;
}

.item-lucarionite{
	background-position: -416px -320px;
}

.item-luck-incense{
	background-position: -448px -320px;
}

.item-lucky-egg{
	background-position: -480px -320px;
}

.item-lucky-punch{
	background-position: -512px -320px;
}

.item-lum-berry{
	background-position: -544px -320px;
}

.item-luminous-moss{
	background-position: -576px -320px;
}

.item-lunalium-z{
	background-position: -608px -320px;
}

.item-lure-ball{
	background-position: -640px -320px;
}

.item-lure{
	background-position: -672px -320px;
}

.item-lustrous-globe{
	background-position: -704px -320px;
}

.item-lustrous-orb{
	background-position: -0px -352px;
}

.item-luxury-ball{
	background-position: -32px -352px;
}

.item-lycanium-z{
	background-position: -64px -352px;
}

.item-macho-brace{
	background-position: -96px -352px;
}

.item-magmarizer{
	background-position: -128px -352px;
}

.item-magnet{
	background-position: -160px -352px;
}

.item-mago-berry{
	background-position: -192px -352px;
}

.item-magost-berry{
	background-position: -224px -352px;
}

.item-mail{
	background-position: -256px -352px;
}

.item-malicious-armor{
	background-position: -288px -352px;
}

.item-manectite{
	background-position: -320px -352px;
}

.item-maranga-berry{
	background-position: -352px -352px;
}

.item-marshadium-z{
	background-position: -384px -352px;
}

.item-master-ball{
	background-position: -416px -352px;
}

.item-masterpiece-teacup{
	background-position: -448px -352px;
}

.item-mawilite{
	background-position: -480px -352px;
}

.item-max-lure{
	background-position: -512px -352px;
}

.item-max-repel{
	background-position: -544px -352px;
}

.item-meadow-plate{
	background-position: -576px -352px;
}

.item-medichamite{
	background-position: -608px -352px;
}

.item-mental-herb{
	background-position: -640px -352px;
}

.item-metagrossite{
	background-position: -672px -352px;
}

.item-metal-alloy{
	background-position: -704px -352px;
}

.item-metal-coat{
	background-position: -0px -384px;
}

.item-metal-powder{
	background-position: -32px -384px;
}

.item-metronome{
	background-position: -64px -384px;
}

.item-mewnium-z{
	background-position: -96px -384px;
}

.item-mewtwonite-x{
	background-position: -128px -384px;
}

.item-mewtwonite-y{
	background-position: -160px -384px;
}

.item-micle-berry{
	background-position: -192px -384px;
}

.item-mimikium-z{
	background-position: -224px -384px;
}

.item-mind-plate{
	background-position: -256px -384px;
}

.item-mint-berry{
	background-position: -288px -384px;
}

.item-miracle-berry{
	background-position: -320px -384px;
}

.item-miracle-seed{
	background-position: -352px -384px;
}

.item-mirror-herb{
	background-position: -384px -384px;
}

.item-misty-seed{
	background-position: -416px -384px;
}

.item-moon-ball{
	background-position: -448px -384px;
}

.item-moon-stone{
	background-position: -480px -384px;
}

.item-muscle-band{
	background-position: -512px -384px;
}

.item-mystery-berry{
	background-position: -544px -384px;
}

.item-mystic-water{
	background-position: -576px -384px;
}

.item-nanab-berry{
	background-position: -608px -384px;
}

.item-nanab-gen3-berry{
	background-position: -640px -384px;
}

.item-nest-ball{
	background-position: -672px -384px;
}

.item-net-ball{
	background-position: -704px -384px;
}

.item-never-melt-ice{
	background-position: -0px -416px;
}

.item-nomel-berry{
	background-position: -32px -416px;
}

.item-normal-gem{
	background-position: -64px -416px;
}

.item-normalium-z{
	background-position: -96px -416px;
}

.item-nugget{
	background-position: -128px -416px;
}

.item-occa-berry{
	background-position: -160px -416px;
}

.item-odd-incense{
	background-position: -192px -416px;
}

.item-odd-keystone{
	background-position: -224px -416px;
}

.item-old-amber-fossil{
	background-position: -256px -416px;
}

.item-old-amber{
	background-position: -288px -416px;
}

.item-oran-berry{
	background-position: -320px -416px;
}

.item-oval-stone{
	background-position: -352px -416px;
}

.item-pamtre-berry{
	background-position: -384px -416px;
}

.item-park-ball{
	background-position: -416px -416px;
}

.item-pass-orb{
	background-position: -448px -416px;
}

.item-passho-berry{
	background-position: -480px -416px;
}

.item-payapa-berry{
	background-position: -512px -416px;
}

.item-pearl-string{
	background-position: -544px -416px;
}

.item-pearl{
	background-position: -576px -416px;
}

.item-peatblock{
	background-position: -608px -416px;
}

.item-pecha-berry{
	background-position: -640px -416px;
}

.item-persim-berry{
	background-position: -672px -416px;
}

.item-petaya-berry{
	background-position: -704px -416px;
}

.item-pidgeotite{
	background-position: -0px -448px;
}

.item-pikanium-z{
	background-position: -32px -448px;
}

.item-pikashunium-z{
	background-position: -64px -448px;
}

.item-pinap-berry{
	background-position: -96px -448px;
}

.item-pink-nectar{
	background-position: -128px -448px;
}

.item-pinsirite{
	background-position: -160px -448px;
}

.item-pixie-plate{
	background-position: -192px -448px;
}

.item-plume-fossil{
	background-position: -224px -448px;
}

.item-poison-barb{
	background-position: -256px -448px;
}

.item-poison-gem{
	background-position: -288px -448px;
}

.item-poison-memory{
	background-position: -320px -448px;
}

.item-poisonium-z{
	background-position: -352px -448px;
}

.item-poke-ball{
	background-position: -384px -448px;
}

.item-poke-doll{
	background-position: -416px -448px;
}

.item-poke-toy{
	background-position: -448px -448px;
}

.item-pomeg-berry{
	background-position: -480px -448px;
}

.item-power-anklet{
	background-position: -512px -448px;
}

.item-power-band{
	background-position: -544px -448px;
}

.item-power-belt{
	background-position: -576px -448px;
}

.item-power-bracer{
	background-position: -608px -448px;
}

.item-power-herb{
	background-position: -640px -448px;
}

.item-power-lens{
	background-position: -672px -448px;
}

.item-power-weight{
	background-position: -704px -448px;
}

.item-premier-ball{
	background-position: -0px -480px;
}

.item-pretty-wing{
	background-position: -32px -480px;
}

.item-primarium-z{
	background-position: -64px -480px;
}

.item-prism-scale{
	background-position: -96px -480px;
}

.item-protective-pads{
	background-position: -128px -480px;
}

.item-protector{
	background-position: -160px -480px;
}

.item-prz-cure-berry{
	background-position: -192px -480px;
}

.item-psn-cure-berry{
	background-position: -224px -480px;
}

.item-psychic-gem{
	background-position: -256px -480px;
}

.item-psychic-memory{
	background-position: -288px -480px;
}

.item-psychic-seed{
	background-position: -320px -480px;
}

.item-psychium-z{
	background-position: -352px -480px;
}

.item-punching-glove{
	background-position: -384px -480px;
}

.item-pure-incense{
	background-position: -416px -480px;
}

.item-purple-nectar{
	background-position: -448px -480px;
}

.item-qualot-berry{
	background-position: -480px -480px;
}

.item-quick-ball{
	background-position: -512px -480px;
}

.item-quick-claw{
	background-position: -544px -480px;
}

.item-quick-powder{
	background-position: -576px -480px;
}

.item-rabuta-berry{
	background-position: -608px -480px;
}

.item-rare-bone{
	background-position: -640px -480px;
}

.item-rawst-berry{
	background-position: -672px -480px;
}

.item-razor-claw{
	background-position: -704px -480px;
}

.item-razor-fang{
	background-position: -0px -512px;
}

.item-razz-berry{
	background-position: -32px -512px;
}

.item-razz-gen3-berry{
	background-position: -64px -512px;
}

.item-reaper-cloth{
	background-position: -96px -512px;
}

.item-red-card{
	background-position: -128px -512px;
}

.item-red-nectar{
	background-position: -160px -512px;
}

.item-red-orb{
	background-position: -192px -512px;
}

.item-relic-band{
	background-position: -224px -512px;
}

.item-relic-copper{
	background-position: -256px -512px;
}

.item-relic-crown{
	background-position: -288px -512px;
}

.item-relic-gold{
	background-position: -320px -512px;
}

.item-relic-silver{
	background-position: -352px -512px;
}

.item-relic-statue{
	background-position: -384px -512px;
}

.item-relic-vase{
	background-position: -416px -512px;
}

.item-repeat-ball{
	background-position: -448px -512px;
}

.item-repel{
	background-position: -480px -512px;
}

.item-ribbon-sweet{
	background-position: -512px -512px;
}

.item-rindo-berry{
	background-position: -544px -512px;
}

.item-ring-target{
	background-position: -576px -512px;
}

.item-rock-gem{
	background-position: -608px -512px;
}

.item-rock-incense{
	background-position: -640px -512px;
}

.item-rock-memory{
	background-position: -672px -512px;
}

.item-rockium-z{
	background-position: -704px -512px;
}

.item-rocky-helmet{
	background-position: -0px -544px;
}

.item-room-service{
	background-position: -32px -544px;
}

.item-root-fossil{
	background-position: -64px -544px;
}

.item-rose-incense{
	background-position: -96px -544px;
}

.item-roseli-berry{
	background-position: -128px -544px;
}

.item-rowap-berry{
	background-position: -160px -544px;
}

.item-rusted-shield{
	background-position: -192px -544px;
}

.item-rusted-sword{
	background-position: -224px -544px;
}

.item-sablenite{
	background-position: -256px -544px;
}

.item-sachet{
	background-position: -288px -544px;
}

.item-safari-ball{
	background-position: -320px -544px;
}

.item-safety-goggles{
	background-position: -352px -544px;
}

.item-sail-fossil{
	background-position: -384px -544px;
}

.item-salac-berry{
	background-position: -416px -544px;
}

.item-salamencite{
	background-position: -448px -544px;
}

.item-sceptilite{
	background-position: -480px -544px;
}

.item-scizorite{
	background-position: -512px -544px;
}

.item-scope-lens{
	background-position: -544px -544px;
}

.item-scroll-of-darkness{
	background-position: -576px -544px;
}

.item-scroll-of-waters{
	background-position: -608px -544px;
}

.item-sea-incense{
	background-position: -640px -544px;
}

.item-sharp-beak{
	background-position: -672px -544px;
}

.item-sharpedonite{
	background-position: -704px -544px;
}

.item-shed-shell{
	background-position: -0px -576px;
}

.item-shell-bell{
	background-position: -32px -576px;
}

.item-shiny-stone{
	background-position: -64px -576px;
}

.item-shoal-salt{
	background-position: -96px -576px;
}

.item-shoal-shell{
	background-position: -128px -576px;
}

.item-shock-drive{
	background-position: -160px -576px;
}

.item-shuca-berry{
	background-position: -192px -576px;
}

.item-silk-scarf{
	background-position: -224px -576px;
}

.item-silver-nanab-berry{
	background-position: -256px -576px;
}

.item-silver-pinap-berry{
	background-position: -288px -576px;
}

.item-silver-powder{
	background-position: -320px -576px;
}

.item-silver-razz-berry{
	background-position: -352px -576px;
}

.item-sitrus-berry{
	background-position: -384px -576px;
}

.item-skull-fossil{
	background-position: -416px -576px;
}

.item-sky-plate{
	background-position: -448px -576px;
}

.item-slowbronite{
	background-position: -480px -576px;
}

.item-slowpoke-tail{
	background-position: -512px -576px;
}

.item-smoke-ball{
	background-position: -544px -576px;
}

.item-smooth-rock{
	background-position: -576px -576px;
}

.item-snorlium-z{
	background-position: -608px -576px;
}

.item-snowball{
	background-position: -640px -576px;
}

.item-soft-sand{
	background-position: -672px -576px;
}

.item-solganium-z{
	background-position: -704px -576px;
}

.item-soothe-bell{
	background-position: -0px -608px;
}

.item-soul-dew{
	background-position: -32px -608px;
}

.item-spell-tag{
	background-position: -64px -608px;
}

.item-spelon-berry{
	background-position: -96px -608px;
}

.item-splash-plate{
	background-position: -128px -608px;
}

.item-spooky-plate{
	background-position: -160px -608px;
}

.item-sport-ball{
	background-position: -192px -608px;
}

.item-star-piece{
	background-position: -224px -608px;
}

.item-star-sweet{
	background-position: -256px -608px;
}

.item-stardust{
	background-position: -288px -608px;
}

.item-starf-berry{
	background-position: -320px -608px;
}

.item-steel-gem{
	background-position: -352px -608px;
}

.item-steel-memory{
	background-position: -384px -608px;
}

.item-steelium-z{
	background-position: -416px -608px;
}

.item-steelixite{
	background-position: -448px -608px;
}

.item-stick{
	background-position: -480px -608px;
}

.item-sticky-barb{
	background-position: -512px -608px;
}

.item-stone-plate{
	background-position: -544px -608px;
}

.item-strange-ball{
	background-position: -576px -608px;
}

.item-strange-souvenir{
	background-position: -608px -608px;
}

.item-strawberry-sweet{
	background-position: -640px -608px;
}

.item-sun-stone{
	background-position: -672px -608px;
}

.item-super-lure{
	background-position: -704px -608px;
}

.item-super-repel{
	background-position: -0px -640px;
}

.item-swampertite{
	background-position: -32px -640px;
}

.item-sweet-apple{
	background-position: -64px -640px;
}

.item-syrupy-apple{
	background-position: -96px -640px;
}

.item-tamato-berry{
	background-position: -128px -640px;
}

.item-tanga-berry{
	background-position: -160px -640px;
}

.item-tapunium-z{
	background-position: -192px -640px;
}

.item-tart-apple{
	background-position: -224px -640px;
}

.item-tera-orb{
	background-position: -256px -640px;
}

.item-terrain-extender{
	background-position: -288px -640px;
}

.item-thick-club{
	background-position: -320px -640px;
}

.item-throat-spray{
	background-position: -352px -640px;
}

.item-thunder-stone{
	background-position: -384px -640px;
}

.item-timer-ball{
	background-position: -416px -640px;
}

.item-tiny-mushroom{
	background-position: -448px -640px;
}

.item-toxic-orb{
	background-position: -480px -640px;
}

.item-toxic-plate{
	background-position: -512px -640px;
}

.item-twisted-spoon{
	background-position: -544px -640px;
}

.item-tyranitarite{
	background-position: -576px -640px;
}

.item-ultra-ball{
	background-position: -608px -640px;
}

.item-ultranecrozium-z{
	background-position: -640px -640px;
}

.item-unknown{
	background-position: -672px -640px;
}

.item-unremarkable-teacup{
	background-position: -704px -640px;
}

.item-up-grade{
	background-position: -0px -672px;
}

.item-utility-umbrella{
	background-position: -32px -672px;
}

.item-venusaurite{
	background-position: -64px -672px;
}

.item-wacan-berry{
	background-position: -96px -672px;
}

.item-water-gem{
	background-position: -128px -672px;
}

.item-water-memory{
	background-position: -160px -672px;
}

.item-water-stone{
	background-position: -192px -672px;
}

.item-waterium-z{
	background-position: -224px -672px;
}

.item-watmel-berry{
	background-position: -256px -672px;
}

.item-wave-incense{
	background-position: -288px -672px;
}

.item-weakness-policy{
	background-position: -320px -672px;
}

.item-wellspring-mask{
	background-position: -352px -672px;
}

.item-wepear-berry{
	background-position: -384px -672px;
}

.item-whipped-dream{
	background-position: -416px -672px;
}

.item-white-herb{
	background-position: -448px -672px;
}

.item-wide-lens{
	background-position: -480px -672px;
}

.item-wiki-berry{
	background-position: -512px -672px;
}

.item-wise-glasses{
	background-position: -544px -672px;
}

.item-wishing-piece{
	background-position: -576px -672px;
}

.item-yache-berry{
	background-position: -608px -672px;
}

.item-yellow-nectar{
	background-position: -640px -672px;
}

.item-zap-plate{
	background-position: -672px -672px;
}

.item-zoom-lens{
	background-position: -704px -672px;
}

