@media (max-width: 991px) {
	.item-ability-patch {
		background-position: -0px -0px;
	}

	.item-ability-shield {
		background-position: -30px -0px;
	}

	.item-abomasite {
		background-position: -60px -0px;
	}

	.item-absolite {
		background-position: -90px -0px;
	}

	.item-absorb-bulb {
		background-position: -120px -0px;
	}

	.item-adamant-globe {
		background-position: -150px -0px;
	}

	.item-adamant-orb {
		background-position: -180px -0px;
	}

	.item-adrenaline-orb {
		background-position: -210px -0px;
	}

	.item-aerodactylite {
		background-position: -240px -0px;
	}

	.item-aggronite {
		background-position: -270px -0px;
	}

	.item-aguav-berry {
		background-position: -300px -0px;
	}

	.item-air-balloon {
		background-position: -330px -0px;
	}

	.item-alakazite {
		background-position: -360px -0px;
	}

	.item-aloraichium-z {
		background-position: -390px -0px;
	}

	.item-altarianite {
		background-position: -420px -0px;
	}

	.item-ampharosite {
		background-position: -450px -0px;
	}

	.item-amulet-coin {
		background-position: -480px -0px;
	}

	.item-apicot-berry {
		background-position: -510px -0px;
	}

	.item-armor-fossil {
		background-position: -540px -0px;
	}

	.item-armorite-ore {
		background-position: -570px -0px;
	}

	.item-aspear-berry {
		background-position: -600px -0px;
	}

	.item-assault-vest {
		background-position: -630px -0px;
	}

	.item-audinite {
		background-position: -660px -0px;
	}

	.item-auspicious-armor {
		background-position: -0px -30px;
	}

	.item-babiri-berry {
		background-position: -30px -30px;
	}

	.item-balm-mushroom {
		background-position: -60px -30px;
	}

	.item-banettite {
		background-position: -90px -30px;
	}

	.item-beast-ball {
		background-position: -120px -30px;
	}

	.item-beedrillite {
		background-position: -150px -30px;
	}

	.item-belue-berry {
		background-position: -180px -30px;
	}

	.item-berry-juice {
		background-position: -210px -30px;
	}

	.item-berry-sweet {
		background-position: -240px -30px;
	}

	.item-berry {
		background-position: -270px -30px;
	}

	.item-berserk-gene {
		background-position: -300px -30px;
	}

	.item-big-mushroom {
		background-position: -330px -30px;
	}

	.item-big-nugget {
		background-position: -360px -30px;
	}

	.item-big-pearl {
		background-position: -390px -30px;
	}

	.item-big-root {
		background-position: -420px -30px;
	}

	.item-binding-band {
		background-position: -450px -30px;
	}

	.item-bitter-berry {
		background-position: -480px -30px;
	}

	.item-black-belt {
		background-position: -510px -30px;
	}

	.item-black-glasses {
		background-position: -540px -30px;
	}

	.item-black-sludge {
		background-position: -570px -30px;
	}

	.item-blackaugurite {
		background-position: -600px -30px;
	}

	.item-blastoisinite {
		background-position: -630px -30px;
	}

	.item-blazikenite {
		background-position: -660px -30px;
	}

	.item-blue-orb {
		background-position: -0px -60px;
	}

	.item-bluk-berry {
		background-position: -30px -60px;
	}

	.item-blunder-policy {
		background-position: -60px -60px;
	}

	.item-booster-energy {
		background-position: -90px -60px;
	}

	.item-bottle-cap {
		background-position: -120px -60px;
	}

	.item-bright-powder {
		background-position: -150px -60px;
	}

	.item-bug-gem {
		background-position: -180px -60px;
	}

	.item-bug-memory {
		background-position: -210px -60px;
	}

	.item-buginium-z {
		background-position: -240px -60px;
	}

	.item-burn-drive {
		background-position: -270px -60px;
	}

	.item-burnt-berry {
		background-position: -300px -60px;
	}

	.item-cameruptite {
		background-position: -330px -60px;
	}

	.item-cell-battery {
		background-position: -360px -60px;
	}

	.item-charcoal {
		background-position: -390px -60px;
	}

	.item-charizardite-x {
		background-position: -420px -60px;
	}

	.item-charizardite-y {
		background-position: -450px -60px;
	}

	.item-charti-berry {
		background-position: -480px -60px;
	}

	.item-cheri-berry {
		background-position: -510px -60px;
	}

	.item-cherish-ball {
		background-position: -540px -60px;
	}

	.item-chesto-berry {
		background-position: -570px -60px;
	}

	.item-chilan-berry {
		background-position: -600px -60px;
	}

	.item-chill-drive {
		background-position: -630px -60px;
	}

	.item-chipped-pot {
		background-position: -660px -60px;
	}

	.item-choice-band {
		background-position: -0px -90px;
	}

	.item-choice-scarf {
		background-position: -30px -90px;
	}

	.item-choice-specs {
		background-position: -60px -90px;
	}

	.item-chople-berry {
		background-position: -90px -90px;
	}

	.item-claw-fossil {
		background-position: -120px -90px;
	}

	.item-cleanse-tag {
		background-position: -150px -90px;
	}

	.item-clear-amulet {
		background-position: -180px -90px;
	}

	.item-clover-sweet {
		background-position: -210px -90px;
	}

	.item-coba-berry {
		background-position: -240px -90px;
	}

	.item-colbur-berry {
		background-position: -270px -90px;
	}

	.item-comet-shard {
		background-position: -300px -90px;
	}

	.item-cornerstone-mask {
		background-position: -330px -90px;
	}

	.item-cornn-berry {
		background-position: -360px -90px;
	}

	.item-cover-fossil {
		background-position: -390px -90px;
	}

	.item-covert-cloak {
		background-position: -420px -90px;
	}

	.item-cracked-pot {
		background-position: -450px -90px;
	}

	.item-custap-berry {
		background-position: -480px -90px;
	}

	.item-damp-rock {
		background-position: -510px -90px;
	}

	.item-dark-gem {
		background-position: -540px -90px;
	}

	.item-dark-memory {
		background-position: -570px -90px;
	}

	.item-darkinium-z {
		background-position: -600px -90px;
	}

	.item-dawn-stone {
		background-position: -630px -90px;
	}

	.item-decidium-z {
		background-position: -660px -90px;
	}

	.item-deep-sea-scale {
		background-position: -0px -120px;
	}

	.item-deep-sea-tooth {
		background-position: -30px -120px;
	}

	.item-destiny-knot {
		background-position: -60px -120px;
	}

	.item-diancite {
		background-position: -90px -120px;
	}

	.item-discount-coupon {
		background-position: -120px -120px;
	}

	.item-dive-ball {
		background-position: -150px -120px;
	}

	.item-dome-fossil {
		background-position: -180px -120px;
	}

	.item-douse-drive {
		background-position: -210px -120px;
	}

	.item-draco-plate {
		background-position: -240px -120px;
	}

	.item-dragon-fang {
		background-position: -270px -120px;
	}

	.item-dragon-gem {
		background-position: -300px -120px;
	}

	.item-dragon-memory {
		background-position: -330px -120px;
	}

	.item-dragon-scale {
		background-position: -360px -120px;
	}

	.item-dragonium-z {
		background-position: -390px -120px;
	}

	.item-dread-plate {
		background-position: -420px -120px;
	}

	.item-dream-ball {
		background-position: -450px -120px;
	}

	.item-dubious-disc {
		background-position: -480px -120px;
	}

	.item-durin-berry {
		background-position: -510px -120px;
	}

	.item-dusk-ball {
		background-position: -540px -120px;
	}

	.item-dusk-stone {
		background-position: -570px -120px;
	}

	.item-dynamax-candy {
		background-position: -600px -120px;
	}

	.item-dynamax-crystal {
		background-position: -630px -120px;
	}

	.item-dynite-ore {
		background-position: -660px -120px;
	}

	.item-earth-plate {
		background-position: -0px -150px;
	}

	.item-eevium-z {
		background-position: -30px -150px;
	}

	.item-eject-button {
		background-position: -60px -150px;
	}

	.item-eject-pack {
		background-position: -90px -150px;
	}

	.item-electirizer {
		background-position: -120px -150px;
	}

	.item-electric-gem {
		background-position: -150px -150px;
	}

	.item-electric-memory {
		background-position: -180px -150px;
	}

	.item-electric-seed {
		background-position: -210px -150px;
	}

	.item-electrium-z {
		background-position: -240px -150px;
	}

	.item-energy-powder {
		background-position: -270px -150px;
	}

	.item-enigma-berry {
		background-position: -300px -150px;
	}

	.item-escape-rope {
		background-position: -330px -150px;
	}

	.item-everstone {
		background-position: -360px -150px;
	}

	.item-eviolite {
		background-position: -390px -150px;
	}

	.item-expert-belt {
		background-position: -420px -150px;
	}

	.item-fairium-z {
		background-position: -450px -150px;
	}

	.item-fairy-gem {
		background-position: -480px -150px;
	}

	.item-fairy-memory {
		background-position: -510px -150px;
	}

	.item-fast-ball {
		background-position: -540px -150px;
	}

	.item-fighting-gem {
		background-position: -570px -150px;
	}

	.item-fighting-memory {
		background-position: -600px -150px;
	}

	.item-fightinium-z {
		background-position: -630px -150px;
	}

	.item-figy-berry {
		background-position: -660px -150px;
	}

	.item-fire-gem {
		background-position: -0px -180px;
	}

	.item-fire-memory {
		background-position: -30px -180px;
	}

	.item-fire-stone {
		background-position: -60px -180px;
	}

	.item-firium-z {
		background-position: -90px -180px;
	}

	.item-fist-plate {
		background-position: -120px -180px;
	}

	.item-flame-orb {
		background-position: -150px -180px;
	}

	.item-flame-plate {
		background-position: -180px -180px;
	}

	.item-float-stone {
		background-position: -210px -180px;
	}

	.item-flower-sweet {
		background-position: -240px -180px;
	}

	.item-fluffy-tail {
		background-position: -270px -180px;
	}

	.item-flying-gem {
		background-position: -300px -180px;
	}

	.item-flying-memory {
		background-position: -330px -180px;
	}

	.item-flyinium-z {
		background-position: -360px -180px;
	}

	.item-focus-band {
		background-position: -390px -180px;
	}

	.item-focus-sash {
		background-position: -420px -180px;
	}

	.item-fossilized-bird {
		background-position: -450px -180px;
	}

	.item-fossilized-dino {
		background-position: -480px -180px;
	}

	.item-fossilized-drake {
		background-position: -510px -180px;
	}

	.item-fossilized-fish {
		background-position: -540px -180px;
	}

	.item-friend-ball {
		background-position: -570px -180px;
	}

	.item-full-incense {
		background-position: -600px -180px;
	}

	.item-galarica-cuff {
		background-position: -630px -180px;
	}

	.item-galarica-twig {
		background-position: -660px -180px;
	}

	.item-galarica-wreath {
		background-position: -0px -210px;
	}

	.item-galladite {
		background-position: -30px -210px;
	}

	.item-ganlon-berry {
		background-position: -60px -210px;
	}

	.item-garchompite {
		background-position: -90px -210px;
	}

	.item-gardevoirite {
		background-position: -120px -210px;
	}

	.item-gengarite {
		background-position: -150px -210px;
	}

	.item-ghost-gem {
		background-position: -180px -210px;
	}

	.item-ghost-memory {
		background-position: -210px -210px;
	}

	.item-ghostium-z {
		background-position: -240px -210px;
	}

	.item-glalitite {
		background-position: -270px -210px;
	}

	.item-gold-berry {
		background-position: -300px -210px;
	}

	.item-gold-bottle-cap {
		background-position: -330px -210px;
	}

	.item-golden-nanab-berry {
		background-position: -360px -210px;
	}

	.item-golden-pinap-berry {
		background-position: -390px -210px;
	}

	.item-golden-razz-berry {
		background-position: -420px -210px;
	}

	.item-grass-gem {
		background-position: -450px -210px;
	}

	.item-grass-memory {
		background-position: -480px -210px;
	}

	.item-grassium-z {
		background-position: -510px -210px;
	}

	.item-grassy-seed {
		background-position: -540px -210px;
	}

	.item-great-ball {
		background-position: -570px -210px;
	}

	.item-grepa-berry {
		background-position: -600px -210px;
	}

	.item-grip-claw {
		background-position: -630px -210px;
	}

	.item-griseous-globe {
		background-position: -660px -210px;
	}

	.item-griseous-orb {
		background-position: -0px -240px;
	}

	.item-ground-gem {
		background-position: -30px -240px;
	}

	.item-ground-memory {
		background-position: -60px -240px;
	}

	.item-groundium-z {
		background-position: -90px -240px;
	}

	.item-gyaradosite {
		background-position: -120px -240px;
	}

	.item-haban-berry {
		background-position: -150px -240px;
	}

	.item-hard-stone {
		background-position: -180px -240px;
	}

	.item-heal-ball {
		background-position: -210px -240px;
	}

	.item-heart-scale {
		background-position: -240px -240px;
	}

	.item-hearthflame-mask {
		background-position: -270px -240px;
	}

	.item-heat-rock {
		background-position: -300px -240px;
	}

	.item-heavy-ball {
		background-position: -330px -240px;
	}

	.item-heavy-duty-boots {
		background-position: -360px -240px;
	}

	.item-helix-fossil {
		background-position: -390px -240px;
	}

	.item-heracronite {
		background-position: -420px -240px;
	}

	.item-hondew-berry {
		background-position: -450px -240px;
	}

	.item-honey {
		background-position: -480px -240px;
	}

	.item-houndoominite {
		background-position: -510px -240px;
	}

	.item-iapapa-berry {
		background-position: -540px -240px;
	}

	.item-ice-berry {
		background-position: -570px -240px;
	}

	.item-ice-gem {
		background-position: -600px -240px;
	}

	.item-ice-memory {
		background-position: -630px -240px;
	}

	.item-ice-stone {
		background-position: -660px -240px;
	}

	.item-icicle-plate {
		background-position: -0px -270px;
	}

	.item-icium-z {
		background-position: -30px -270px;
	}

	.item-icy-rock {
		background-position: -60px -270px;
	}

	.item-incinium-z {
		background-position: -90px -270px;
	}

	.item-insect-plate {
		background-position: -120px -270px;
	}

	.item-iron-ball {
		background-position: -150px -270px;
	}

	.item-iron-plate {
		background-position: -180px -270px;
	}

	.item-jaboca-berry {
		background-position: -210px -270px;
	}

	.item-jaw-fossil {
		background-position: -240px -270px;
	}

	.item-kangaskhanite {
		background-position: -270px -270px;
	}

	.item-kasib-berry {
		background-position: -300px -270px;
	}

	.item-kebia-berry {
		background-position: -330px -270px;
	}

	.item-kee-berry {
		background-position: -360px -270px;
	}

	.item-kelpsy-berry {
		background-position: -390px -270px;
	}

	.item-kings-rock {
		background-position: -420px -270px;
	}

	.item-kommonium-z {
		background-position: -450px -270px;
	}

	.item-lagging-tail {
		background-position: -480px -270px;
	}

	.item-lansat-berry {
		background-position: -510px -270px;
	}

	.item-latiasite {
		background-position: -540px -270px;
	}

	.item-latiosite {
		background-position: -570px -270px;
	}

	.item-lax-incense {
		background-position: -600px -270px;
	}

	.item-leader-s-crest {
		background-position: -630px -270px;
	}

	.item-leaf-stone {
		background-position: -660px -270px;
	}

	.item-leek {
		background-position: -0px -300px;
	}

	.item-leftovers {
		background-position: -30px -300px;
	}

	.item-leppa-berry {
		background-position: -60px -300px;
	}

	.item-level-ball {
		background-position: -90px -300px;
	}

	.item-liechi-berry {
		background-position: -120px -300px;
	}

	.item-life-orb {
		background-position: -150px -300px;
	}

	.item-light-ball {
		background-position: -180px -300px;
	}

	.item-light-clay {
		background-position: -210px -300px;
	}

	.item-linking-cord {
		background-position: -240px -300px;
	}

	.item-loaded-dice {
		background-position: -270px -300px;
	}

	.item-lopunnite {
		background-position: -300px -300px;
	}

	.item-love-ball {
		background-position: -330px -300px;
	}

	.item-love-sweet {
		background-position: -360px -300px;
	}

	.item-lucarionite {
		background-position: -390px -300px;
	}

	.item-luck-incense {
		background-position: -420px -300px;
	}

	.item-lucky-egg {
		background-position: -450px -300px;
	}

	.item-lucky-punch {
		background-position: -480px -300px;
	}

	.item-lum-berry {
		background-position: -510px -300px;
	}

	.item-luminous-moss {
		background-position: -540px -300px;
	}

	.item-lunalium-z {
		background-position: -570px -300px;
	}

	.item-lure-ball {
		background-position: -600px -300px;
	}

	.item-lure {
		background-position: -630px -300px;
	}

	.item-lustrous-globe {
		background-position: -660px -300px;
	}

	.item-lustrous-orb {
		background-position: -0px -330px;
	}

	.item-luxury-ball {
		background-position: -30px -330px;
	}

	.item-lycanium-z {
		background-position: -60px -330px;
	}

	.item-macho-brace {
		background-position: -90px -330px;
	}

	.item-magmarizer {
		background-position: -120px -330px;
	}

	.item-magnet {
		background-position: -150px -330px;
	}

	.item-mago-berry {
		background-position: -180px -330px;
	}

	.item-magost-berry {
		background-position: -210px -330px;
	}

	.item-mail {
		background-position: -240px -330px;
	}

	.item-malicious-armor {
		background-position: -270px -330px;
	}

	.item-manectite {
		background-position: -300px -330px;
	}

	.item-maranga-berry {
		background-position: -330px -330px;
	}

	.item-marshadium-z {
		background-position: -360px -330px;
	}

	.item-master-ball {
		background-position: -390px -330px;
	}

	.item-masterpiece-teacup {
		background-position: -420px -330px;
	}

	.item-mawilite {
		background-position: -450px -330px;
	}

	.item-max-lure {
		background-position: -480px -330px;
	}

	.item-max-repel {
		background-position: -510px -330px;
	}

	.item-meadow-plate {
		background-position: -540px -330px;
	}

	.item-medichamite {
		background-position: -570px -330px;
	}

	.item-mental-herb {
		background-position: -600px -330px;
	}

	.item-metagrossite {
		background-position: -630px -330px;
	}

	.item-metal-alloy {
		background-position: -660px -330px;
	}

	.item-metal-coat {
		background-position: -0px -360px;
	}

	.item-metal-powder {
		background-position: -30px -360px;
	}

	.item-metronome {
		background-position: -60px -360px;
	}

	.item-mewnium-z {
		background-position: -90px -360px;
	}

	.item-mewtwonite-x {
		background-position: -120px -360px;
	}

	.item-mewtwonite-y {
		background-position: -150px -360px;
	}

	.item-micle-berry {
		background-position: -180px -360px;
	}

	.item-mimikium-z {
		background-position: -210px -360px;
	}

	.item-mind-plate {
		background-position: -240px -360px;
	}

	.item-mint-berry {
		background-position: -270px -360px;
	}

	.item-miracle-berry {
		background-position: -300px -360px;
	}

	.item-miracle-seed {
		background-position: -330px -360px;
	}

	.item-mirror-herb {
		background-position: -360px -360px;
	}

	.item-misty-seed {
		background-position: -390px -360px;
	}

	.item-moon-ball {
		background-position: -420px -360px;
	}

	.item-moon-stone {
		background-position: -450px -360px;
	}

	.item-muscle-band {
		background-position: -480px -360px;
	}

	.item-mystery-berry {
		background-position: -510px -360px;
	}

	.item-mystic-water {
		background-position: -540px -360px;
	}

	.item-nanab-berry {
		background-position: -570px -360px;
	}

	.item-nanab-gen3-berry {
		background-position: -600px -360px;
	}

	.item-nest-ball {
		background-position: -630px -360px;
	}

	.item-net-ball {
		background-position: -660px -360px;
	}

	.item-never-melt-ice {
		background-position: -0px -390px;
	}

	.item-nomel-berry {
		background-position: -30px -390px;
	}

	.item-normal-gem {
		background-position: -60px -390px;
	}

	.item-normalium-z {
		background-position: -90px -390px;
	}

	.item-nugget {
		background-position: -120px -390px;
	}

	.item-occa-berry {
		background-position: -150px -390px;
	}

	.item-odd-incense {
		background-position: -180px -390px;
	}

	.item-odd-keystone {
		background-position: -210px -390px;
	}

	.item-old-amber-fossil {
		background-position: -240px -390px;
	}

	.item-old-amber {
		background-position: -270px -390px;
	}

	.item-oran-berry {
		background-position: -300px -390px;
	}

	.item-oval-stone {
		background-position: -330px -390px;
	}

	.item-pamtre-berry {
		background-position: -360px -390px;
	}

	.item-park-ball {
		background-position: -390px -390px;
	}

	.item-pass-orb {
		background-position: -420px -390px;
	}

	.item-passho-berry {
		background-position: -450px -390px;
	}

	.item-payapa-berry {
		background-position: -480px -390px;
	}

	.item-pearl-string {
		background-position: -510px -390px;
	}

	.item-pearl {
		background-position: -540px -390px;
	}

	.item-peatblock {
		background-position: -570px -390px;
	}

	.item-pecha-berry {
		background-position: -600px -390px;
	}

	.item-persim-berry {
		background-position: -630px -390px;
	}

	.item-petaya-berry {
		background-position: -660px -390px;
	}

	.item-pidgeotite {
		background-position: -0px -420px;
	}

	.item-pikanium-z {
		background-position: -30px -420px;
	}

	.item-pikashunium-z {
		background-position: -60px -420px;
	}

	.item-pinap-berry {
		background-position: -90px -420px;
	}

	.item-pink-nectar {
		background-position: -120px -420px;
	}

	.item-pinsirite {
		background-position: -150px -420px;
	}

	.item-pixie-plate {
		background-position: -180px -420px;
	}

	.item-plume-fossil {
		background-position: -210px -420px;
	}

	.item-poison-barb {
		background-position: -240px -420px;
	}

	.item-poison-gem {
		background-position: -270px -420px;
	}

	.item-poison-memory {
		background-position: -300px -420px;
	}

	.item-poisonium-z {
		background-position: -330px -420px;
	}

	.item-poke-ball {
		background-position: -360px -420px;
	}

	.item-poke-doll {
		background-position: -390px -420px;
	}

	.item-poke-toy {
		background-position: -420px -420px;
	}

	.item-pomeg-berry {
		background-position: -450px -420px;
	}

	.item-power-anklet {
		background-position: -480px -420px;
	}

	.item-power-band {
		background-position: -510px -420px;
	}

	.item-power-belt {
		background-position: -540px -420px;
	}

	.item-power-bracer {
		background-position: -570px -420px;
	}

	.item-power-herb {
		background-position: -600px -420px;
	}

	.item-power-lens {
		background-position: -630px -420px;
	}

	.item-power-weight {
		background-position: -660px -420px;
	}

	.item-premier-ball {
		background-position: -0px -450px;
	}

	.item-pretty-wing {
		background-position: -30px -450px;
	}

	.item-primarium-z {
		background-position: -60px -450px;
	}

	.item-prism-scale {
		background-position: -90px -450px;
	}

	.item-protective-pads {
		background-position: -120px -450px;
	}

	.item-protector {
		background-position: -150px -450px;
	}

	.item-prz-cure-berry {
		background-position: -180px -450px;
	}

	.item-psn-cure-berry {
		background-position: -210px -450px;
	}

	.item-psychic-gem {
		background-position: -240px -450px;
	}

	.item-psychic-memory {
		background-position: -270px -450px;
	}

	.item-psychic-seed {
		background-position: -300px -450px;
	}

	.item-psychium-z {
		background-position: -330px -450px;
	}

	.item-punching-glove {
		background-position: -360px -450px;
	}

	.item-pure-incense {
		background-position: -390px -450px;
	}

	.item-purple-nectar {
		background-position: -420px -450px;
	}

	.item-qualot-berry {
		background-position: -450px -450px;
	}

	.item-quick-ball {
		background-position: -480px -450px;
	}

	.item-quick-claw {
		background-position: -510px -450px;
	}

	.item-quick-powder {
		background-position: -540px -450px;
	}

	.item-rabuta-berry {
		background-position: -570px -450px;
	}

	.item-rare-bone {
		background-position: -600px -450px;
	}

	.item-rawst-berry {
		background-position: -630px -450px;
	}

	.item-razor-claw {
		background-position: -660px -450px;
	}

	.item-razor-fang {
		background-position: -0px -480px;
	}

	.item-razz-berry {
		background-position: -30px -480px;
	}

	.item-razz-gen3-berry {
		background-position: -60px -480px;
	}

	.item-reaper-cloth {
		background-position: -90px -480px;
	}

	.item-red-card {
		background-position: -120px -480px;
	}

	.item-red-nectar {
		background-position: -150px -480px;
	}

	.item-red-orb {
		background-position: -180px -480px;
	}

	.item-relic-band {
		background-position: -210px -480px;
	}

	.item-relic-copper {
		background-position: -240px -480px;
	}

	.item-relic-crown {
		background-position: -270px -480px;
	}

	.item-relic-gold {
		background-position: -300px -480px;
	}

	.item-relic-silver {
		background-position: -330px -480px;
	}

	.item-relic-statue {
		background-position: -360px -480px;
	}

	.item-relic-vase {
		background-position: -390px -480px;
	}

	.item-repeat-ball {
		background-position: -420px -480px;
	}

	.item-repel {
		background-position: -450px -480px;
	}

	.item-ribbon-sweet {
		background-position: -480px -480px;
	}

	.item-rindo-berry {
		background-position: -510px -480px;
	}

	.item-ring-target {
		background-position: -540px -480px;
	}

	.item-rock-gem {
		background-position: -570px -480px;
	}

	.item-rock-incense {
		background-position: -600px -480px;
	}

	.item-rock-memory {
		background-position: -630px -480px;
	}

	.item-rockium-z {
		background-position: -660px -480px;
	}

	.item-rocky-helmet {
		background-position: -0px -510px;
	}

	.item-room-service {
		background-position: -30px -510px;
	}

	.item-root-fossil {
		background-position: -60px -510px;
	}

	.item-rose-incense {
		background-position: -90px -510px;
	}

	.item-roseli-berry {
		background-position: -120px -510px;
	}

	.item-rowap-berry {
		background-position: -150px -510px;
	}

	.item-rusted-shield {
		background-position: -180px -510px;
	}

	.item-rusted-sword {
		background-position: -210px -510px;
	}

	.item-sablenite {
		background-position: -240px -510px;
	}

	.item-sachet {
		background-position: -270px -510px;
	}

	.item-safari-ball {
		background-position: -300px -510px;
	}

	.item-safety-goggles {
		background-position: -330px -510px;
	}

	.item-sail-fossil {
		background-position: -360px -510px;
	}

	.item-salac-berry {
		background-position: -390px -510px;
	}

	.item-salamencite {
		background-position: -420px -510px;
	}

	.item-sceptilite {
		background-position: -450px -510px;
	}

	.item-scizorite {
		background-position: -480px -510px;
	}

	.item-scope-lens {
		background-position: -510px -510px;
	}

	.item-scroll-of-darkness {
		background-position: -540px -510px;
	}

	.item-scroll-of-waters {
		background-position: -570px -510px;
	}

	.item-sea-incense {
		background-position: -600px -510px;
	}

	.item-sharp-beak {
		background-position: -630px -510px;
	}

	.item-sharpedonite {
		background-position: -660px -510px;
	}

	.item-shed-shell {
		background-position: -0px -540px;
	}

	.item-shell-bell {
		background-position: -30px -540px;
	}

	.item-shiny-stone {
		background-position: -60px -540px;
	}

	.item-shoal-salt {
		background-position: -90px -540px;
	}

	.item-shoal-shell {
		background-position: -120px -540px;
	}

	.item-shock-drive {
		background-position: -150px -540px;
	}

	.item-shuca-berry {
		background-position: -180px -540px;
	}

	.item-silk-scarf {
		background-position: -210px -540px;
	}

	.item-silver-nanab-berry {
		background-position: -240px -540px;
	}

	.item-silver-pinap-berry {
		background-position: -270px -540px;
	}

	.item-silver-powder {
		background-position: -300px -540px;
	}

	.item-silver-razz-berry {
		background-position: -330px -540px;
	}

	.item-sitrus-berry {
		background-position: -360px -540px;
	}

	.item-skull-fossil {
		background-position: -390px -540px;
	}

	.item-sky-plate {
		background-position: -420px -540px;
	}

	.item-slowbronite {
		background-position: -450px -540px;
	}

	.item-slowpoke-tail {
		background-position: -480px -540px;
	}

	.item-smoke-ball {
		background-position: -510px -540px;
	}

	.item-smooth-rock {
		background-position: -540px -540px;
	}

	.item-snorlium-z {
		background-position: -570px -540px;
	}

	.item-snowball {
		background-position: -600px -540px;
	}

	.item-soft-sand {
		background-position: -630px -540px;
	}

	.item-solganium-z {
		background-position: -660px -540px;
	}

	.item-soothe-bell {
		background-position: -0px -570px;
	}

	.item-soul-dew {
		background-position: -30px -570px;
	}

	.item-spell-tag {
		background-position: -60px -570px;
	}

	.item-spelon-berry {
		background-position: -90px -570px;
	}

	.item-splash-plate {
		background-position: -120px -570px;
	}

	.item-spooky-plate {
		background-position: -150px -570px;
	}

	.item-sport-ball {
		background-position: -180px -570px;
	}

	.item-star-piece {
		background-position: -210px -570px;
	}

	.item-star-sweet {
		background-position: -240px -570px;
	}

	.item-stardust {
		background-position: -270px -570px;
	}

	.item-starf-berry {
		background-position: -300px -570px;
	}

	.item-steel-gem {
		background-position: -330px -570px;
	}

	.item-steel-memory {
		background-position: -360px -570px;
	}

	.item-steelium-z {
		background-position: -390px -570px;
	}

	.item-steelixite {
		background-position: -420px -570px;
	}

	.item-stick {
		background-position: -450px -570px;
	}

	.item-sticky-barb {
		background-position: -480px -570px;
	}

	.item-stone-plate {
		background-position: -510px -570px;
	}

	.item-strange-ball {
		background-position: -540px -570px;
	}

	.item-strange-souvenir {
		background-position: -570px -570px;
	}

	.item-strawberry-sweet {
		background-position: -600px -570px;
	}

	.item-sun-stone {
		background-position: -630px -570px;
	}

	.item-super-lure {
		background-position: -660px -570px;
	}

	.item-super-repel {
		background-position: -0px -600px;
	}

	.item-swampertite {
		background-position: -30px -600px;
	}

	.item-sweet-apple {
		background-position: -60px -600px;
	}

	.item-syrupy-apple {
		background-position: -90px -600px;
	}

	.item-tamato-berry {
		background-position: -120px -600px;
	}

	.item-tanga-berry {
		background-position: -150px -600px;
	}

	.item-tapunium-z {
		background-position: -180px -600px;
	}

	.item-tart-apple {
		background-position: -210px -600px;
	}

	.item-tera-orb {
		background-position: -240px -600px;
	}

	.item-terrain-extender {
		background-position: -270px -600px;
	}

	.item-thick-club {
		background-position: -300px -600px;
	}

	.item-throat-spray {
		background-position: -330px -600px;
	}

	.item-thunder-stone {
		background-position: -360px -600px;
	}

	.item-timer-ball {
		background-position: -390px -600px;
	}

	.item-tiny-mushroom {
		background-position: -420px -600px;
	}

	.item-toxic-orb {
		background-position: -450px -600px;
	}

	.item-toxic-plate {
		background-position: -480px -600px;
	}

	.item-twisted-spoon {
		background-position: -510px -600px;
	}

	.item-tyranitarite {
		background-position: -540px -600px;
	}

	.item-ultra-ball {
		background-position: -570px -600px;
	}

	.item-ultranecrozium-z {
		background-position: -600px -600px;
	}

	.item-unknown {
		background-position: -630px -600px;
	}

	.item-unremarkable-teacup {
		background-position: -660px -600px;
	}

	.item-up-grade {
		background-position: -0px -630px;
	}

	.item-utility-umbrella {
		background-position: -30px -630px;
	}

	.item-venusaurite {
		background-position: -60px -630px;
	}

	.item-wacan-berry {
		background-position: -90px -630px;
	}

	.item-water-gem {
		background-position: -120px -630px;
	}

	.item-water-memory {
		background-position: -150px -630px;
	}

	.item-water-stone {
		background-position: -180px -630px;
	}

	.item-waterium-z {
		background-position: -210px -630px;
	}

	.item-watmel-berry {
		background-position: -240px -630px;
	}

	.item-wave-incense {
		background-position: -270px -630px;
	}

	.item-weakness-policy {
		background-position: -300px -630px;
	}

	.item-wellspring-mask {
		background-position: -330px -630px;
	}

	.item-wepear-berry {
		background-position: -360px -630px;
	}

	.item-whipped-dream {
		background-position: -390px -630px;
	}

	.item-white-herb {
		background-position: -420px -630px;
	}

	.item-wide-lens {
		background-position: -450px -630px;
	}

	.item-wiki-berry {
		background-position: -480px -630px;
	}

	.item-wise-glasses {
		background-position: -510px -630px;
	}

	.item-wishing-piece {
		background-position: -540px -630px;
	}

	.item-yache-berry {
		background-position: -570px -630px;
	}

	.item-yellow-nectar {
		background-position: -600px -630px;
	}

	.item-zap-plate {
		background-position: -630px -630px;
	}

	.item-zoom-lens {
		background-position: -660px -630px;
	}

}