.type-tera-bug{
	background-position: -0px -0px;
}

.type-tera-dark{
	background-position: -25px -0px;
}

.type-tera-dragon{
	background-position: -50px -0px;
}

.type-tera-electric{
	background-position: -75px -0px;
}

.type-tera-fairy{
	background-position: -100px -0px;
}

.type-tera-fighting{
	background-position: -0px -25px;
}

.type-tera-fire{
	background-position: -25px -25px;
}

.type-tera-flying{
	background-position: -50px -25px;
}

.type-tera-ghost{
	background-position: -75px -25px;
}

.type-tera-grass{
	background-position: -100px -25px;
}

.type-tera-ground{
	background-position: -0px -50px;
}

.type-tera-ice{
	background-position: -25px -50px;
}

.type-tera-normal{
	background-position: -50px -50px;
}

.type-tera-poison{
	background-position: -75px -50px;
}

.type-tera-psychic{
	background-position: -100px -50px;
}

.type-tera-rock{
	background-position: -0px -75px;
}

.type-tera-steel{
	background-position: -25px -75px;
}

.type-tera-stellar{
	background-position: -50px -75px;
}

.type-tera-unknown{
	background-position: -75px -75px;
}

.type-tera-water{
	background-position: -100px -75px;
}

