.type-icon-bug{
	background-position: -0px -0px;
}

.type-icon-dark{
	background-position: -20px -0px;
}

.type-icon-dragon{
	background-position: -40px -0px;
}

.type-icon-electric{
	background-position: -60px -0px;
}

.type-icon-fairy{
	background-position: -80px -0px;
}

.type-icon-fighting{
	background-position: -0px -20px;
}

.type-icon-fire{
	background-position: -20px -20px;
}

.type-icon-flying{
	background-position: -40px -20px;
}

.type-icon-ghost{
	background-position: -60px -20px;
}

.type-icon-grass{
	background-position: -80px -20px;
}

.type-icon-ground{
	background-position: -0px -40px;
}

.type-icon-ice{
	background-position: -20px -40px;
}

.type-icon-normal{
	background-position: -40px -40px;
}

.type-icon-poison{
	background-position: -60px -40px;
}

.type-icon-psychic{
	background-position: -80px -40px;
}

.type-icon-rock{
	background-position: -0px -60px;
}

.type-icon-steel{
	background-position: -20px -60px;
}

.type-icon-stellar{
	background-position: -40px -60px;
}

.type-icon-unknown{
	background-position: -60px -60px;
}

.type-icon-water{
	background-position: -80px -60px;
}

